/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// AccessPoliciesApiService AccessPoliciesApi service
type AccessPoliciesApiService service

type AccessPoliciesApiAccessPoliciesListRequest struct {
	ctx context.Context
	ApiService *AccessPoliciesApiService
	customized *bool
	limit *int32
	offset *int32
	ordering *[]string
	viewsetName *string
	viewsetNameContains *string
	viewsetNameIcontains *string
	viewsetNameIn *[]string
	viewsetNameStartswith *string
	fields *[]string
	excludeFields *[]string
}

// Filter results where customized matches value
func (r AccessPoliciesApiAccessPoliciesListRequest) Customized(customized bool) AccessPoliciesApiAccessPoliciesListRequest {
	r.customized = &customized
	return r
}

// Number of results to return per page.
func (r AccessPoliciesApiAccessPoliciesListRequest) Limit(limit int32) AccessPoliciesApiAccessPoliciesListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r AccessPoliciesApiAccessPoliciesListRequest) Offset(offset int32) AccessPoliciesApiAccessPoliciesListRequest {
	r.offset = &offset
	return r
}

// Ordering
func (r AccessPoliciesApiAccessPoliciesListRequest) Ordering(ordering []string) AccessPoliciesApiAccessPoliciesListRequest {
	r.ordering = &ordering
	return r
}

// Filter results where viewset_name matches value
func (r AccessPoliciesApiAccessPoliciesListRequest) ViewsetName(viewsetName string) AccessPoliciesApiAccessPoliciesListRequest {
	r.viewsetName = &viewsetName
	return r
}

// Filter results where viewset_name contains value
func (r AccessPoliciesApiAccessPoliciesListRequest) ViewsetNameContains(viewsetNameContains string) AccessPoliciesApiAccessPoliciesListRequest {
	r.viewsetNameContains = &viewsetNameContains
	return r
}

// Filter results where viewset_name contains value
func (r AccessPoliciesApiAccessPoliciesListRequest) ViewsetNameIcontains(viewsetNameIcontains string) AccessPoliciesApiAccessPoliciesListRequest {
	r.viewsetNameIcontains = &viewsetNameIcontains
	return r
}

// Filter results where viewset_name is in a comma-separated list of values
func (r AccessPoliciesApiAccessPoliciesListRequest) ViewsetNameIn(viewsetNameIn []string) AccessPoliciesApiAccessPoliciesListRequest {
	r.viewsetNameIn = &viewsetNameIn
	return r
}

// Filter results where viewset_name starts with value
func (r AccessPoliciesApiAccessPoliciesListRequest) ViewsetNameStartswith(viewsetNameStartswith string) AccessPoliciesApiAccessPoliciesListRequest {
	r.viewsetNameStartswith = &viewsetNameStartswith
	return r
}

// A list of fields to include in the response.
func (r AccessPoliciesApiAccessPoliciesListRequest) Fields(fields []string) AccessPoliciesApiAccessPoliciesListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r AccessPoliciesApiAccessPoliciesListRequest) ExcludeFields(excludeFields []string) AccessPoliciesApiAccessPoliciesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r AccessPoliciesApiAccessPoliciesListRequest) Execute() (*PaginatedAccessPolicyResponseList, *http.Response, error) {
	return r.ApiService.AccessPoliciesListExecute(r)
}

/*
AccessPoliciesList List access policys

ViewSet for AccessPolicy.

NOTE: This API endpoint is in "tech preview" and subject to change

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AccessPoliciesApiAccessPoliciesListRequest
*/
func (a *AccessPoliciesApiService) AccessPoliciesList(ctx context.Context) AccessPoliciesApiAccessPoliciesListRequest {
	return AccessPoliciesApiAccessPoliciesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedAccessPolicyResponseList
func (a *AccessPoliciesApiService) AccessPoliciesListExecute(r AccessPoliciesApiAccessPoliciesListRequest) (*PaginatedAccessPolicyResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedAccessPolicyResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessPoliciesApiService.AccessPoliciesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/access_policies/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.customized != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customized", r.customized, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "csv")
	}
	if r.viewsetName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "viewset_name", r.viewsetName, "")
	}
	if r.viewsetNameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "viewset_name__contains", r.viewsetNameContains, "")
	}
	if r.viewsetNameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "viewset_name__icontains", r.viewsetNameIcontains, "")
	}
	if r.viewsetNameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "viewset_name__in", r.viewsetNameIn, "csv")
	}
	if r.viewsetNameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "viewset_name__startswith", r.viewsetNameStartswith, "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccessPoliciesApiAccessPoliciesPartialUpdateRequest struct {
	ctx context.Context
	ApiService *AccessPoliciesApiService
	accessPolicyHref string
	patchedAccessPolicy *PatchedAccessPolicy
}

func (r AccessPoliciesApiAccessPoliciesPartialUpdateRequest) PatchedAccessPolicy(patchedAccessPolicy PatchedAccessPolicy) AccessPoliciesApiAccessPoliciesPartialUpdateRequest {
	r.patchedAccessPolicy = &patchedAccessPolicy
	return r
}

func (r AccessPoliciesApiAccessPoliciesPartialUpdateRequest) Execute() (*AccessPolicyResponse, *http.Response, error) {
	return r.ApiService.AccessPoliciesPartialUpdateExecute(r)
}

/*
AccessPoliciesPartialUpdate Update an access policy

ViewSet for AccessPolicy.

NOTE: This API endpoint is in "tech preview" and subject to change

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPolicyHref
 @return AccessPoliciesApiAccessPoliciesPartialUpdateRequest
*/
func (a *AccessPoliciesApiService) AccessPoliciesPartialUpdate(ctx context.Context, accessPolicyHref string) AccessPoliciesApiAccessPoliciesPartialUpdateRequest {
	return AccessPoliciesApiAccessPoliciesPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		accessPolicyHref: accessPolicyHref,
	}
}

// Execute executes the request
//  @return AccessPolicyResponse
func (a *AccessPoliciesApiService) AccessPoliciesPartialUpdateExecute(r AccessPoliciesApiAccessPoliciesPartialUpdateRequest) (*AccessPolicyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccessPolicyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessPoliciesApiService.AccessPoliciesPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{access_policy_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"access_policy_href"+"}", url.PathEscape(parameterValueToString(r.accessPolicyHref, "accessPolicyHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedAccessPolicy == nil {
		return localVarReturnValue, nil, reportError("patchedAccessPolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedAccessPolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccessPoliciesApiAccessPoliciesReadRequest struct {
	ctx context.Context
	ApiService *AccessPoliciesApiService
	accessPolicyHref string
	fields *[]string
	excludeFields *[]string
}

// A list of fields to include in the response.
func (r AccessPoliciesApiAccessPoliciesReadRequest) Fields(fields []string) AccessPoliciesApiAccessPoliciesReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r AccessPoliciesApiAccessPoliciesReadRequest) ExcludeFields(excludeFields []string) AccessPoliciesApiAccessPoliciesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r AccessPoliciesApiAccessPoliciesReadRequest) Execute() (*AccessPolicyResponse, *http.Response, error) {
	return r.ApiService.AccessPoliciesReadExecute(r)
}

/*
AccessPoliciesRead Inspect an access policy

ViewSet for AccessPolicy.

NOTE: This API endpoint is in "tech preview" and subject to change

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPolicyHref
 @return AccessPoliciesApiAccessPoliciesReadRequest
*/
func (a *AccessPoliciesApiService) AccessPoliciesRead(ctx context.Context, accessPolicyHref string) AccessPoliciesApiAccessPoliciesReadRequest {
	return AccessPoliciesApiAccessPoliciesReadRequest{
		ApiService: a,
		ctx: ctx,
		accessPolicyHref: accessPolicyHref,
	}
}

// Execute executes the request
//  @return AccessPolicyResponse
func (a *AccessPoliciesApiService) AccessPoliciesReadExecute(r AccessPoliciesApiAccessPoliciesReadRequest) (*AccessPolicyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccessPolicyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessPoliciesApiService.AccessPoliciesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{access_policy_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"access_policy_href"+"}", url.PathEscape(parameterValueToString(r.accessPolicyHref, "accessPolicyHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccessPoliciesApiAccessPoliciesResetRequest struct {
	ctx context.Context
	ApiService *AccessPoliciesApiService
	accessPolicyHref string
}

func (r AccessPoliciesApiAccessPoliciesResetRequest) Execute() (*AccessPolicyResponse, *http.Response, error) {
	return r.ApiService.AccessPoliciesResetExecute(r)
}

/*
AccessPoliciesReset Method for AccessPoliciesReset

Reset the access policy to its uncustomized default value.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPolicyHref
 @return AccessPoliciesApiAccessPoliciesResetRequest
*/
func (a *AccessPoliciesApiService) AccessPoliciesReset(ctx context.Context, accessPolicyHref string) AccessPoliciesApiAccessPoliciesResetRequest {
	return AccessPoliciesApiAccessPoliciesResetRequest{
		ApiService: a,
		ctx: ctx,
		accessPolicyHref: accessPolicyHref,
	}
}

// Execute executes the request
//  @return AccessPolicyResponse
func (a *AccessPoliciesApiService) AccessPoliciesResetExecute(r AccessPoliciesApiAccessPoliciesResetRequest) (*AccessPolicyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccessPolicyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessPoliciesApiService.AccessPoliciesReset")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{access_policy_href}reset/"
	localVarPath = strings.Replace(localVarPath, "{"+"access_policy_href"+"}", url.PathEscape(parameterValueToString(r.accessPolicyHref, "accessPolicyHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccessPoliciesApiAccessPoliciesUpdateRequest struct {
	ctx context.Context
	ApiService *AccessPoliciesApiService
	accessPolicyHref string
	accessPolicy *AccessPolicy
}

func (r AccessPoliciesApiAccessPoliciesUpdateRequest) AccessPolicy(accessPolicy AccessPolicy) AccessPoliciesApiAccessPoliciesUpdateRequest {
	r.accessPolicy = &accessPolicy
	return r
}

func (r AccessPoliciesApiAccessPoliciesUpdateRequest) Execute() (*AccessPolicyResponse, *http.Response, error) {
	return r.ApiService.AccessPoliciesUpdateExecute(r)
}

/*
AccessPoliciesUpdate Update an access policy

ViewSet for AccessPolicy.

NOTE: This API endpoint is in "tech preview" and subject to change

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPolicyHref
 @return AccessPoliciesApiAccessPoliciesUpdateRequest
*/
func (a *AccessPoliciesApiService) AccessPoliciesUpdate(ctx context.Context, accessPolicyHref string) AccessPoliciesApiAccessPoliciesUpdateRequest {
	return AccessPoliciesApiAccessPoliciesUpdateRequest{
		ApiService: a,
		ctx: ctx,
		accessPolicyHref: accessPolicyHref,
	}
}

// Execute executes the request
//  @return AccessPolicyResponse
func (a *AccessPoliciesApiService) AccessPoliciesUpdateExecute(r AccessPoliciesApiAccessPoliciesUpdateRequest) (*AccessPolicyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccessPolicyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessPoliciesApiService.AccessPoliciesUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{access_policy_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"access_policy_href"+"}", url.PathEscape(parameterValueToString(r.accessPolicyHref, "accessPolicyHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accessPolicy == nil {
		return localVarReturnValue, nil, reportError("accessPolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.accessPolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
