/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest/release/v3

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// WorkersApiService WorkersApi service
type WorkersApiService service

type WorkersApiWorkersListRequest struct {
	ctx context.Context
	ApiService *WorkersApiService
	lastHeartbeat *time.Time
	lastHeartbeatGt *time.Time
	lastHeartbeatGte *time.Time
	lastHeartbeatLt *time.Time
	lastHeartbeatLte *time.Time
	lastHeartbeatRange *[]time.Time
	limit *int32
	missing *bool
	name *string
	nameContains *string
	nameIcontains *string
	nameIn *[]string
	nameStartswith *string
	offset *int32
	online *bool
	ordering *[]string
	fields *[]string
	excludeFields *[]string
}

// Filter results where last_heartbeat matches value
func (r WorkersApiWorkersListRequest) LastHeartbeat(lastHeartbeat time.Time) WorkersApiWorkersListRequest {
	r.lastHeartbeat = &lastHeartbeat
	return r
}

// Filter results where last_heartbeat is greater than value
func (r WorkersApiWorkersListRequest) LastHeartbeatGt(lastHeartbeatGt time.Time) WorkersApiWorkersListRequest {
	r.lastHeartbeatGt = &lastHeartbeatGt
	return r
}

// Filter results where last_heartbeat is greater than or equal to value
func (r WorkersApiWorkersListRequest) LastHeartbeatGte(lastHeartbeatGte time.Time) WorkersApiWorkersListRequest {
	r.lastHeartbeatGte = &lastHeartbeatGte
	return r
}

// Filter results where last_heartbeat is less than value
func (r WorkersApiWorkersListRequest) LastHeartbeatLt(lastHeartbeatLt time.Time) WorkersApiWorkersListRequest {
	r.lastHeartbeatLt = &lastHeartbeatLt
	return r
}

// Filter results where last_heartbeat is less than or equal to value
func (r WorkersApiWorkersListRequest) LastHeartbeatLte(lastHeartbeatLte time.Time) WorkersApiWorkersListRequest {
	r.lastHeartbeatLte = &lastHeartbeatLte
	return r
}

// Filter results where last_heartbeat is between two comma separated values
func (r WorkersApiWorkersListRequest) LastHeartbeatRange(lastHeartbeatRange []time.Time) WorkersApiWorkersListRequest {
	r.lastHeartbeatRange = &lastHeartbeatRange
	return r
}

// Number of results to return per page.
func (r WorkersApiWorkersListRequest) Limit(limit int32) WorkersApiWorkersListRequest {
	r.limit = &limit
	return r
}

func (r WorkersApiWorkersListRequest) Missing(missing bool) WorkersApiWorkersListRequest {
	r.missing = &missing
	return r
}

// Filter results where name matches value
func (r WorkersApiWorkersListRequest) Name(name string) WorkersApiWorkersListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r WorkersApiWorkersListRequest) NameContains(nameContains string) WorkersApiWorkersListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r WorkersApiWorkersListRequest) NameIcontains(nameIcontains string) WorkersApiWorkersListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name is in a comma-separated list of values
func (r WorkersApiWorkersListRequest) NameIn(nameIn []string) WorkersApiWorkersListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name starts with value
func (r WorkersApiWorkersListRequest) NameStartswith(nameStartswith string) WorkersApiWorkersListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r WorkersApiWorkersListRequest) Offset(offset int32) WorkersApiWorkersListRequest {
	r.offset = &offset
	return r
}

func (r WorkersApiWorkersListRequest) Online(online bool) WorkersApiWorkersListRequest {
	r.online = &online
	return r
}

// Ordering
func (r WorkersApiWorkersListRequest) Ordering(ordering []string) WorkersApiWorkersListRequest {
	r.ordering = &ordering
	return r
}

// A list of fields to include in the response.
func (r WorkersApiWorkersListRequest) Fields(fields []string) WorkersApiWorkersListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r WorkersApiWorkersListRequest) ExcludeFields(excludeFields []string) WorkersApiWorkersListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r WorkersApiWorkersListRequest) Execute() (*PaginatedWorkerResponseList, *http.Response, error) {
	return r.ApiService.WorkersListExecute(r)
}

/*
WorkersList List workers

A customized named ModelViewSet that knows how to register itself with the Pulp API router.

This viewset is discoverable by its name.
"Normal" Django Models and Master/Detail models are supported by the ``register_with`` method.

Attributes:
    lookup_field (str): The name of the field by which an object should be looked up, in
        addition to any parent lookups if this ViewSet is nested. Defaults to 'pk'
    endpoint_name (str): The name of the final path segment that should identify the ViewSet's
        collection endpoint.
    nest_prefix (str): Optional prefix under which this ViewSet should be nested. This must
        correspond to the "parent_prefix" of a router with rest_framework_nested.NestedMixin.
        None indicates this ViewSet should not be nested.
    parent_lookup_kwargs (dict): Optional mapping of key names that would appear in self.kwargs
        to django model filter expressions that can be used with the corresponding value from
        self.kwargs, used only by a nested ViewSet to filter based on the parent object's
        identity.
    schema (DefaultSchema): The schema class to use by default in a viewset.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return WorkersApiWorkersListRequest
*/
func (a *WorkersApiService) WorkersList(ctx context.Context) WorkersApiWorkersListRequest {
	return WorkersApiWorkersListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedWorkerResponseList
func (a *WorkersApiService) WorkersListExecute(r WorkersApiWorkersListRequest) (*PaginatedWorkerResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedWorkerResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkersApiService.WorkersList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/workers/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.lastHeartbeat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_heartbeat", r.lastHeartbeat, "")
	}
	if r.lastHeartbeatGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_heartbeat__gt", r.lastHeartbeatGt, "")
	}
	if r.lastHeartbeatGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_heartbeat__gte", r.lastHeartbeatGte, "")
	}
	if r.lastHeartbeatLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_heartbeat__lt", r.lastHeartbeatLt, "")
	}
	if r.lastHeartbeatLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_heartbeat__lte", r.lastHeartbeatLte, "")
	}
	if r.lastHeartbeatRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_heartbeat__range", r.lastHeartbeatRange, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.missing != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "missing", r.missing, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "csv")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.online != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "online", r.online, "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "csv")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type WorkersApiWorkersReadRequest struct {
	ctx context.Context
	ApiService *WorkersApiService
	workerHref string
	fields *[]string
	excludeFields *[]string
}

// A list of fields to include in the response.
func (r WorkersApiWorkersReadRequest) Fields(fields []string) WorkersApiWorkersReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r WorkersApiWorkersReadRequest) ExcludeFields(excludeFields []string) WorkersApiWorkersReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r WorkersApiWorkersReadRequest) Execute() (*WorkerResponse, *http.Response, error) {
	return r.ApiService.WorkersReadExecute(r)
}

/*
WorkersRead Inspect a worker

A customized named ModelViewSet that knows how to register itself with the Pulp API router.

This viewset is discoverable by its name.
"Normal" Django Models and Master/Detail models are supported by the ``register_with`` method.

Attributes:
    lookup_field (str): The name of the field by which an object should be looked up, in
        addition to any parent lookups if this ViewSet is nested. Defaults to 'pk'
    endpoint_name (str): The name of the final path segment that should identify the ViewSet's
        collection endpoint.
    nest_prefix (str): Optional prefix under which this ViewSet should be nested. This must
        correspond to the "parent_prefix" of a router with rest_framework_nested.NestedMixin.
        None indicates this ViewSet should not be nested.
    parent_lookup_kwargs (dict): Optional mapping of key names that would appear in self.kwargs
        to django model filter expressions that can be used with the corresponding value from
        self.kwargs, used only by a nested ViewSet to filter based on the parent object's
        identity.
    schema (DefaultSchema): The schema class to use by default in a viewset.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workerHref
 @return WorkersApiWorkersReadRequest
*/
func (a *WorkersApiService) WorkersRead(ctx context.Context, workerHref string) WorkersApiWorkersReadRequest {
	return WorkersApiWorkersReadRequest{
		ApiService: a,
		ctx: ctx,
		workerHref: workerHref,
	}
}

// Execute executes the request
//  @return WorkerResponse
func (a *WorkersApiService) WorkersReadExecute(r WorkersApiWorkersReadRequest) (*WorkerResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WorkerResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkersApiService.WorkersRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{worker_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"worker_href"+"}", url.PathEscape(parameterValueToString(r.workerHref, "workerHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
