/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentSignaturesApiService ContentSignaturesApi service
type ContentSignaturesApiService service

type ContentSignaturesApiContentContainerSignaturesListRequest struct {
	ctx context.Context
	ApiService *ContentSignaturesApiService
	digest *string
	digestIn *[]string
	keyId *string
	keyIdIn *[]string
	limit *int32
	manifest *[]string
	name *string
	nameContains *string
	nameIcontains *string
	nameIn *[]string
	nameStartswith *string
	offset *int32
	ordering *[]string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	fields *[]string
	excludeFields *[]string
}

// Filter results where digest matches value
func (r ContentSignaturesApiContentContainerSignaturesListRequest) Digest(digest string) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.digest = &digest
	return r
}

// Filter results where digest is in a comma-separated list of values
func (r ContentSignaturesApiContentContainerSignaturesListRequest) DigestIn(digestIn []string) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.digestIn = &digestIn
	return r
}

// Filter results where key_id matches value
func (r ContentSignaturesApiContentContainerSignaturesListRequest) KeyId(keyId string) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.keyId = &keyId
	return r
}

// Filter results where key_id is in a comma-separated list of values
func (r ContentSignaturesApiContentContainerSignaturesListRequest) KeyIdIn(keyIdIn []string) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.keyIdIn = &keyIdIn
	return r
}

// Number of results to return per page.
func (r ContentSignaturesApiContentContainerSignaturesListRequest) Limit(limit int32) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.limit = &limit
	return r
}

// Multiple values may be separated by commas.
func (r ContentSignaturesApiContentContainerSignaturesListRequest) Manifest(manifest []string) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.manifest = &manifest
	return r
}

// Filter results where name matches value
func (r ContentSignaturesApiContentContainerSignaturesListRequest) Name(name string) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r ContentSignaturesApiContentContainerSignaturesListRequest) NameContains(nameContains string) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r ContentSignaturesApiContentContainerSignaturesListRequest) NameIcontains(nameIcontains string) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name is in a comma-separated list of values
func (r ContentSignaturesApiContentContainerSignaturesListRequest) NameIn(nameIn []string) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name starts with value
func (r ContentSignaturesApiContentContainerSignaturesListRequest) NameStartswith(nameStartswith string) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r ContentSignaturesApiContentContainerSignaturesListRequest) Offset(offset int32) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.offset = &offset
	return r
}

// Ordering
func (r ContentSignaturesApiContentContainerSignaturesListRequest) Ordering(ordering []string) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.ordering = &ordering
	return r
}

// Repository Version referenced by HREF
func (r ContentSignaturesApiContentContainerSignaturesListRequest) RepositoryVersion(repositoryVersion string) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF
func (r ContentSignaturesApiContentContainerSignaturesListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF
func (r ContentSignaturesApiContentContainerSignaturesListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// A list of fields to include in the response.
func (r ContentSignaturesApiContentContainerSignaturesListRequest) Fields(fields []string) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentSignaturesApiContentContainerSignaturesListRequest) ExcludeFields(excludeFields []string) ContentSignaturesApiContentContainerSignaturesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentSignaturesApiContentContainerSignaturesListRequest) Execute() (*PaginatedcontainerManifestSignatureResponseList, *http.Response, error) {
	return r.ApiService.ContentContainerSignaturesListExecute(r)
}

/*
ContentContainerSignaturesList List manifest signatures

ViewSet for image signatures.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentSignaturesApiContentContainerSignaturesListRequest
*/
func (a *ContentSignaturesApiService) ContentContainerSignaturesList(ctx context.Context) ContentSignaturesApiContentContainerSignaturesListRequest {
	return ContentSignaturesApiContentContainerSignaturesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedcontainerManifestSignatureResponseList
func (a *ContentSignaturesApiService) ContentContainerSignaturesListExecute(r ContentSignaturesApiContentContainerSignaturesListRequest) (*PaginatedcontainerManifestSignatureResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedcontainerManifestSignatureResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSignaturesApiService.ContentContainerSignaturesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/container/signatures/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.digest != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "digest", r.digest, "")
	}
	if r.digestIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "digest__in", r.digestIn, "csv")
	}
	if r.keyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "key_id", r.keyId, "")
	}
	if r.keyIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "key_id__in", r.keyIdIn, "csv")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.manifest != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "manifest", r.manifest, "csv")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "csv")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "csv")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentSignaturesApiContentContainerSignaturesReadRequest struct {
	ctx context.Context
	ApiService *ContentSignaturesApiService
	containerManifestSignatureHref string
	fields *[]string
	excludeFields *[]string
}

// A list of fields to include in the response.
func (r ContentSignaturesApiContentContainerSignaturesReadRequest) Fields(fields []string) ContentSignaturesApiContentContainerSignaturesReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentSignaturesApiContentContainerSignaturesReadRequest) ExcludeFields(excludeFields []string) ContentSignaturesApiContentContainerSignaturesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentSignaturesApiContentContainerSignaturesReadRequest) Execute() (*ContainerManifestSignatureResponse, *http.Response, error) {
	return r.ApiService.ContentContainerSignaturesReadExecute(r)
}

/*
ContentContainerSignaturesRead Inspect a manifest signature

ViewSet for image signatures.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerManifestSignatureHref
 @return ContentSignaturesApiContentContainerSignaturesReadRequest
*/
func (a *ContentSignaturesApiService) ContentContainerSignaturesRead(ctx context.Context, containerManifestSignatureHref string) ContentSignaturesApiContentContainerSignaturesReadRequest {
	return ContentSignaturesApiContentContainerSignaturesReadRequest{
		ApiService: a,
		ctx: ctx,
		containerManifestSignatureHref: containerManifestSignatureHref,
	}
}

// Execute executes the request
//  @return ContainerManifestSignatureResponse
func (a *ContentSignaturesApiService) ContentContainerSignaturesReadExecute(r ContentSignaturesApiContentContainerSignaturesReadRequest) (*ContainerManifestSignatureResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ContainerManifestSignatureResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSignaturesApiService.ContentContainerSignaturesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_manifest_signature_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"container_manifest_signature_href"+"}", url.PathEscape(parameterValueToString(r.containerManifestSignatureHref, "containerManifestSignatureHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
