/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// RepositoriesOstreeApiService RepositoriesOstreeApi service
type RepositoriesOstreeApiService service

type RepositoriesOstreeApiRepositoriesOstreeOstreeCreateRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeApiService
	ostreeOstreeRepository *OstreeOstreeRepository
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreeCreateRequest) OstreeOstreeRepository(ostreeOstreeRepository OstreeOstreeRepository) RepositoriesOstreeApiRepositoriesOstreeOstreeCreateRequest {
	r.ostreeOstreeRepository = &ostreeOstreeRepository
	return r
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreeCreateRequest) Execute() (*OstreeOstreeRepositoryResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeCreateExecute(r)
}

/*
RepositoriesOstreeOstreeCreate Create an ostree repository

A ViewSet class for OSTree repositories.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return RepositoriesOstreeApiRepositoriesOstreeOstreeCreateRequest
*/
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeCreate(ctx context.Context) RepositoriesOstreeApiRepositoriesOstreeOstreeCreateRequest {
	return RepositoriesOstreeApiRepositoriesOstreeOstreeCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OstreeOstreeRepositoryResponse
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeCreateExecute(r RepositoriesOstreeApiRepositoriesOstreeOstreeCreateRequest) (*OstreeOstreeRepositoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OstreeOstreeRepositoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeApiService.RepositoriesOstreeOstreeCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/repositories/ostree/ostree/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ostreeOstreeRepository == nil {
		return localVarReturnValue, nil, reportError("ostreeOstreeRepository is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ostreeOstreeRepository
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeApiRepositoriesOstreeOstreeDeleteRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeApiService
	ostreeOstreeRepositoryHref string
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreeDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeDeleteExecute(r)
}

/*
RepositoriesOstreeOstreeDelete Delete an ostree repository

Trigger an asynchronous delete task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeApiRepositoriesOstreeOstreeDeleteRequest
*/
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeDelete(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeApiRepositoriesOstreeOstreeDeleteRequest {
	return RepositoriesOstreeApiRepositoriesOstreeOstreeDeleteRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeDeleteExecute(r RepositoriesOstreeApiRepositoriesOstreeOstreeDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeApiService.RepositoriesOstreeOstreeDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeApiRepositoriesOstreeOstreeImportAllRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeApiService
	ostreeOstreeRepositoryHref string
	ostreeImportAll *OstreeImportAll
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreeImportAllRequest) OstreeImportAll(ostreeImportAll OstreeImportAll) RepositoriesOstreeApiRepositoriesOstreeOstreeImportAllRequest {
	r.ostreeImportAll = &ostreeImportAll
	return r
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreeImportAllRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeImportAllExecute(r)
}

/*
RepositoriesOstreeOstreeImportAll Import refs and commits to a repository

Trigger an asynchronous task to import all refs and commits to a repository.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeApiRepositoriesOstreeOstreeImportAllRequest
*/
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeImportAll(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeApiRepositoriesOstreeOstreeImportAllRequest {
	return RepositoriesOstreeApiRepositoriesOstreeOstreeImportAllRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeImportAllExecute(r RepositoriesOstreeApiRepositoriesOstreeOstreeImportAllRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeApiService.RepositoriesOstreeOstreeImportAll")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}import_all/"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ostreeImportAll == nil {
		return localVarReturnValue, nil, reportError("ostreeImportAll is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ostreeImportAll
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeApiRepositoriesOstreeOstreeImportCommitsRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeApiService
	ostreeOstreeRepositoryHref string
	ostreeImportCommitsToRef *OstreeImportCommitsToRef
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreeImportCommitsRequest) OstreeImportCommitsToRef(ostreeImportCommitsToRef OstreeImportCommitsToRef) RepositoriesOstreeApiRepositoriesOstreeOstreeImportCommitsRequest {
	r.ostreeImportCommitsToRef = &ostreeImportCommitsToRef
	return r
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreeImportCommitsRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeImportCommitsExecute(r)
}

/*
RepositoriesOstreeOstreeImportCommits Append child commits to a repository

Trigger an asynchronous task to append child commits to a repository.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeApiRepositoriesOstreeOstreeImportCommitsRequest
*/
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeImportCommits(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeApiRepositoriesOstreeOstreeImportCommitsRequest {
	return RepositoriesOstreeApiRepositoriesOstreeOstreeImportCommitsRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeImportCommitsExecute(r RepositoriesOstreeApiRepositoriesOstreeOstreeImportCommitsRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeApiService.RepositoriesOstreeOstreeImportCommits")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}import_commits/"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ostreeImportCommitsToRef == nil {
		return localVarReturnValue, nil, reportError("ostreeImportCommitsToRef is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ostreeImportCommitsToRef
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeApiService
	limit *int32
	name *string
	nameContains *string
	nameIcontains *string
	nameIn *[]string
	nameStartswith *string
	offset *int32
	ordering *[]string
	pulpHrefIn *[]string
	pulpIdIn *[]string
	pulpLabelSelect *string
	remote *string
	retainRepoVersions *int32
	retainRepoVersionsGt *int32
	retainRepoVersionsGte *int32
	retainRepoVersionsIsnull *bool
	retainRepoVersionsLt *int32
	retainRepoVersionsLte *int32
	retainRepoVersionsNe *int32
	retainRepoVersionsRange *[]int32
	fields *[]string
	excludeFields *[]string
}

// Number of results to return per page.
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) Limit(limit int32) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.limit = &limit
	return r
}

// Filter results where name matches value
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) Name(name string) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) NameContains(nameContains string) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) NameIcontains(nameIcontains string) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name is in a comma-separated list of values
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) NameIn(nameIn []string) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name starts with value
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) NameStartswith(nameStartswith string) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) Offset(offset int32) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.offset = &offset
	return r
}

// Ordering  * &#x60;pulp_id&#x60; - Pulp id * &#x60;-pulp_id&#x60; - Pulp id (descending) * &#x60;pulp_created&#x60; - Pulp created * &#x60;-pulp_created&#x60; - Pulp created (descending) * &#x60;pulp_last_updated&#x60; - Pulp last updated * &#x60;-pulp_last_updated&#x60; - Pulp last updated (descending) * &#x60;pulp_type&#x60; - Pulp type * &#x60;-pulp_type&#x60; - Pulp type (descending) * &#x60;name&#x60; - Name * &#x60;-name&#x60; - Name (descending) * &#x60;pulp_labels&#x60; - Pulp labels * &#x60;-pulp_labels&#x60; - Pulp labels (descending) * &#x60;description&#x60; - Description * &#x60;-description&#x60; - Description (descending) * &#x60;next_version&#x60; - Next version * &#x60;-next_version&#x60; - Next version (descending) * &#x60;retain_repo_versions&#x60; - Retain repo versions * &#x60;-retain_repo_versions&#x60; - Retain repo versions (descending) * &#x60;user_hidden&#x60; - User hidden * &#x60;-user_hidden&#x60; - User hidden (descending) * &#x60;pk&#x60; - Pk * &#x60;-pk&#x60; - Pk (descending)
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) Ordering(ordering []string) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.ordering = &ordering
	return r
}

// Multiple values may be separated by commas.
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) PulpHrefIn(pulpHrefIn []string) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.pulpHrefIn = &pulpHrefIn
	return r
}

// Multiple values may be separated by commas.
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) PulpIdIn(pulpIdIn []string) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.pulpIdIn = &pulpIdIn
	return r
}

// Filter labels by search string
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) PulpLabelSelect(pulpLabelSelect string) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Foreign Key referenced by HREF
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) Remote(remote string) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.remote = &remote
	return r
}

// Filter results where retain_repo_versions matches value
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) RetainRepoVersions(retainRepoVersions int32) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.retainRepoVersions = &retainRepoVersions
	return r
}

// Filter results where retain_repo_versions is greater than value
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) RetainRepoVersionsGt(retainRepoVersionsGt int32) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.retainRepoVersionsGt = &retainRepoVersionsGt
	return r
}

// Filter results where retain_repo_versions is greater than or equal to value
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) RetainRepoVersionsGte(retainRepoVersionsGte int32) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.retainRepoVersionsGte = &retainRepoVersionsGte
	return r
}

// Filter results where retain_repo_versions has a null value
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) RetainRepoVersionsIsnull(retainRepoVersionsIsnull bool) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.retainRepoVersionsIsnull = &retainRepoVersionsIsnull
	return r
}

// Filter results where retain_repo_versions is less than value
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) RetainRepoVersionsLt(retainRepoVersionsLt int32) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.retainRepoVersionsLt = &retainRepoVersionsLt
	return r
}

// Filter results where retain_repo_versions is less than or equal to value
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) RetainRepoVersionsLte(retainRepoVersionsLte int32) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.retainRepoVersionsLte = &retainRepoVersionsLte
	return r
}

// Filter results where retain_repo_versions not equal to value
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) RetainRepoVersionsNe(retainRepoVersionsNe int32) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.retainRepoVersionsNe = &retainRepoVersionsNe
	return r
}

// Filter results where retain_repo_versions is between two comma separated values
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) RetainRepoVersionsRange(retainRepoVersionsRange []int32) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.retainRepoVersionsRange = &retainRepoVersionsRange
	return r
}

// A list of fields to include in the response.
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) Fields(fields []string) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) ExcludeFields(excludeFields []string) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) Execute() (*PaginatedostreeOstreeRepositoryResponseList, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeListExecute(r)
}

/*
RepositoriesOstreeOstreeList List ostree repositorys

A ViewSet class for OSTree repositories.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest
*/
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeList(ctx context.Context) RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest {
	return RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedostreeOstreeRepositoryResponseList
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeListExecute(r RepositoriesOstreeApiRepositoriesOstreeOstreeListRequest) (*PaginatedostreeOstreeRepositoryResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedostreeOstreeRepositoryResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeApiService.RepositoriesOstreeOstreeList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/repositories/ostree/ostree/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "csv")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "csv")
	}
	if r.pulpHrefIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_href__in", r.pulpHrefIn, "csv")
	}
	if r.pulpIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_id__in", r.pulpIdIn, "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "")
	}
	if r.remote != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote", r.remote, "")
	}
	if r.retainRepoVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions", r.retainRepoVersions, "")
	}
	if r.retainRepoVersionsGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__gt", r.retainRepoVersionsGt, "")
	}
	if r.retainRepoVersionsGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__gte", r.retainRepoVersionsGte, "")
	}
	if r.retainRepoVersionsIsnull != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__isnull", r.retainRepoVersionsIsnull, "")
	}
	if r.retainRepoVersionsLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__lt", r.retainRepoVersionsLt, "")
	}
	if r.retainRepoVersionsLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__lte", r.retainRepoVersionsLte, "")
	}
	if r.retainRepoVersionsNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__ne", r.retainRepoVersionsNe, "")
	}
	if r.retainRepoVersionsRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__range", r.retainRepoVersionsRange, "csv")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeApiRepositoriesOstreeOstreeModifyRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeApiService
	ostreeOstreeRepositoryHref string
	repositoryAddRemoveContent *RepositoryAddRemoveContent
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreeModifyRequest) RepositoryAddRemoveContent(repositoryAddRemoveContent RepositoryAddRemoveContent) RepositoriesOstreeApiRepositoriesOstreeOstreeModifyRequest {
	r.repositoryAddRemoveContent = &repositoryAddRemoveContent
	return r
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreeModifyRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeModifyExecute(r)
}

/*
RepositoriesOstreeOstreeModify Modify repository

Trigger an asynchronous task to modify content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeApiRepositoriesOstreeOstreeModifyRequest
*/
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeModify(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeApiRepositoriesOstreeOstreeModifyRequest {
	return RepositoriesOstreeApiRepositoriesOstreeOstreeModifyRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeModifyExecute(r RepositoriesOstreeApiRepositoriesOstreeOstreeModifyRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeApiService.RepositoriesOstreeOstreeModify")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}modify/"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.repositoryAddRemoveContent == nil {
		return localVarReturnValue, nil, reportError("repositoryAddRemoveContent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.repositoryAddRemoveContent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeApiRepositoriesOstreeOstreePartialUpdateRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeApiService
	ostreeOstreeRepositoryHref string
	patchedostreeOstreeRepository *PatchedostreeOstreeRepository
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreePartialUpdateRequest) PatchedostreeOstreeRepository(patchedostreeOstreeRepository PatchedostreeOstreeRepository) RepositoriesOstreeApiRepositoriesOstreeOstreePartialUpdateRequest {
	r.patchedostreeOstreeRepository = &patchedostreeOstreeRepository
	return r
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreePartialUpdateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreePartialUpdateExecute(r)
}

/*
RepositoriesOstreeOstreePartialUpdate Update an ostree repository

Trigger an asynchronous partial update task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeApiRepositoriesOstreeOstreePartialUpdateRequest
*/
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreePartialUpdate(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeApiRepositoriesOstreeOstreePartialUpdateRequest {
	return RepositoriesOstreeApiRepositoriesOstreeOstreePartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreePartialUpdateExecute(r RepositoriesOstreeApiRepositoriesOstreeOstreePartialUpdateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeApiService.RepositoriesOstreeOstreePartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedostreeOstreeRepository == nil {
		return localVarReturnValue, nil, reportError("patchedostreeOstreeRepository is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedostreeOstreeRepository
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeApiRepositoriesOstreeOstreeReadRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeApiService
	ostreeOstreeRepositoryHref string
	fields *[]string
	excludeFields *[]string
}

// A list of fields to include in the response.
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeReadRequest) Fields(fields []string) RepositoriesOstreeApiRepositoriesOstreeOstreeReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RepositoriesOstreeApiRepositoriesOstreeOstreeReadRequest) ExcludeFields(excludeFields []string) RepositoriesOstreeApiRepositoriesOstreeOstreeReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreeReadRequest) Execute() (*OstreeOstreeRepositoryResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeReadExecute(r)
}

/*
RepositoriesOstreeOstreeRead Inspect an ostree repository

A ViewSet class for OSTree repositories.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeApiRepositoriesOstreeOstreeReadRequest
*/
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeRead(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeApiRepositoriesOstreeOstreeReadRequest {
	return RepositoriesOstreeApiRepositoriesOstreeOstreeReadRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return OstreeOstreeRepositoryResponse
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeReadExecute(r RepositoriesOstreeApiRepositoriesOstreeOstreeReadRequest) (*OstreeOstreeRepositoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OstreeOstreeRepositoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeApiService.RepositoriesOstreeOstreeRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeApiRepositoriesOstreeOstreeSyncRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeApiService
	ostreeOstreeRepositoryHref string
	repositorySyncURL *RepositorySyncURL
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreeSyncRequest) RepositorySyncURL(repositorySyncURL RepositorySyncURL) RepositoriesOstreeApiRepositoriesOstreeOstreeSyncRequest {
	r.repositorySyncURL = &repositorySyncURL
	return r
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreeSyncRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeSyncExecute(r)
}

/*
RepositoriesOstreeOstreeSync Sync from remote

Trigger an asynchronous task to sync content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeApiRepositoriesOstreeOstreeSyncRequest
*/
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeSync(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeApiRepositoriesOstreeOstreeSyncRequest {
	return RepositoriesOstreeApiRepositoriesOstreeOstreeSyncRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeSyncExecute(r RepositoriesOstreeApiRepositoriesOstreeOstreeSyncRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeApiService.RepositoriesOstreeOstreeSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}sync/"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.repositorySyncURL == nil {
		return localVarReturnValue, nil, reportError("repositorySyncURL is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.repositorySyncURL
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesOstreeApiRepositoriesOstreeOstreeUpdateRequest struct {
	ctx context.Context
	ApiService *RepositoriesOstreeApiService
	ostreeOstreeRepositoryHref string
	ostreeOstreeRepository *OstreeOstreeRepository
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreeUpdateRequest) OstreeOstreeRepository(ostreeOstreeRepository OstreeOstreeRepository) RepositoriesOstreeApiRepositoriesOstreeOstreeUpdateRequest {
	r.ostreeOstreeRepository = &ostreeOstreeRepository
	return r
}

func (r RepositoriesOstreeApiRepositoriesOstreeOstreeUpdateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesOstreeOstreeUpdateExecute(r)
}

/*
RepositoriesOstreeOstreeUpdate Update an ostree repository

Trigger an asynchronous update task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRepositoryHref
 @return RepositoriesOstreeApiRepositoriesOstreeOstreeUpdateRequest
*/
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeUpdate(ctx context.Context, ostreeOstreeRepositoryHref string) RepositoriesOstreeApiRepositoriesOstreeOstreeUpdateRequest {
	return RepositoriesOstreeApiRepositoriesOstreeOstreeUpdateRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRepositoryHref: ostreeOstreeRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesOstreeApiService) RepositoriesOstreeOstreeUpdateExecute(r RepositoriesOstreeApiRepositoriesOstreeOstreeUpdateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesOstreeApiService.RepositoriesOstreeOstreeUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_repository_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_repository_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRepositoryHref, "ostreeOstreeRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ostreeOstreeRepository == nil {
		return localVarReturnValue, nil, reportError("ostreeOstreeRepository is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ostreeOstreeRepository
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
