/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentCollectionMarksApiService ContentCollectionMarksApi service
type ContentCollectionMarksApiService service

type ContentCollectionMarksApiContentAnsibleCollectionMarksCreateRequest struct {
	ctx context.Context
	ApiService *ContentCollectionMarksApiService
	ansibleCollectionVersionMark *AnsibleCollectionVersionMark
}

func (r ContentCollectionMarksApiContentAnsibleCollectionMarksCreateRequest) AnsibleCollectionVersionMark(ansibleCollectionVersionMark AnsibleCollectionVersionMark) ContentCollectionMarksApiContentAnsibleCollectionMarksCreateRequest {
	r.ansibleCollectionVersionMark = &ansibleCollectionVersionMark
	return r
}

func (r ContentCollectionMarksApiContentAnsibleCollectionMarksCreateRequest) Execute() (*AnsibleCollectionVersionMarkResponse, *http.Response, error) {
	return r.ApiService.ContentAnsibleCollectionMarksCreateExecute(r)
}

/*
ContentAnsibleCollectionMarksCreate Create a collection version mark

ViewSet for looking at mark objects for CollectionVersion content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentCollectionMarksApiContentAnsibleCollectionMarksCreateRequest
*/
func (a *ContentCollectionMarksApiService) ContentAnsibleCollectionMarksCreate(ctx context.Context) ContentCollectionMarksApiContentAnsibleCollectionMarksCreateRequest {
	return ContentCollectionMarksApiContentAnsibleCollectionMarksCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AnsibleCollectionVersionMarkResponse
func (a *ContentCollectionMarksApiService) ContentAnsibleCollectionMarksCreateExecute(r ContentCollectionMarksApiContentAnsibleCollectionMarksCreateRequest) (*AnsibleCollectionVersionMarkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnsibleCollectionVersionMarkResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCollectionMarksApiService.ContentAnsibleCollectionMarksCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/ansible/collection_marks/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ansibleCollectionVersionMark == nil {
		return localVarReturnValue, nil, reportError("ansibleCollectionVersionMark is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ansibleCollectionVersionMark
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest struct {
	ctx context.Context
	ApiService *ContentCollectionMarksApiService
	limit *int32
	markedCollection *string
	offset *int32
	ordering *[]string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	value *string
	valueIn *[]string
	fields *[]string
	excludeFields *[]string
}

// Number of results to return per page.
func (r ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest) Limit(limit int32) ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest {
	r.limit = &limit
	return r
}

// Filter marks for collection version
func (r ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest) MarkedCollection(markedCollection string) ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest {
	r.markedCollection = &markedCollection
	return r
}

// The initial index from which to return the results.
func (r ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest) Offset(offset int32) ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest {
	r.offset = &offset
	return r
}

// Ordering
func (r ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest) Ordering(ordering []string) ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest {
	r.ordering = &ordering
	return r
}

// Repository Version referenced by HREF
func (r ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest) RepositoryVersion(repositoryVersion string) ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF
func (r ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF
func (r ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// Filter marks by value
func (r ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest) Value(value string) ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest {
	r.value = &value
	return r
}

// Filter results where value is in a comma-separated list of values
func (r ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest) ValueIn(valueIn []string) ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest {
	r.valueIn = &valueIn
	return r
}

// A list of fields to include in the response.
func (r ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest) Fields(fields []string) ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest) ExcludeFields(excludeFields []string) ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest) Execute() (*PaginatedansibleCollectionVersionMarkResponseList, *http.Response, error) {
	return r.ApiService.ContentAnsibleCollectionMarksListExecute(r)
}

/*
ContentAnsibleCollectionMarksList List collection version marks

ViewSet for looking at mark objects for CollectionVersion content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest
*/
func (a *ContentCollectionMarksApiService) ContentAnsibleCollectionMarksList(ctx context.Context) ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest {
	return ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedansibleCollectionVersionMarkResponseList
func (a *ContentCollectionMarksApiService) ContentAnsibleCollectionMarksListExecute(r ContentCollectionMarksApiContentAnsibleCollectionMarksListRequest) (*PaginatedansibleCollectionVersionMarkResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedansibleCollectionVersionMarkResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCollectionMarksApiService.ContentAnsibleCollectionMarksList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/ansible/collection_marks/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.markedCollection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "marked_collection", r.markedCollection, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "csv")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "")
	}
	if r.value != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "value", r.value, "")
	}
	if r.valueIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "value__in", r.valueIn, "csv")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentCollectionMarksApiContentAnsibleCollectionMarksReadRequest struct {
	ctx context.Context
	ApiService *ContentCollectionMarksApiService
	ansibleCollectionVersionMarkHref string
	fields *[]string
	excludeFields *[]string
}

// A list of fields to include in the response.
func (r ContentCollectionMarksApiContentAnsibleCollectionMarksReadRequest) Fields(fields []string) ContentCollectionMarksApiContentAnsibleCollectionMarksReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentCollectionMarksApiContentAnsibleCollectionMarksReadRequest) ExcludeFields(excludeFields []string) ContentCollectionMarksApiContentAnsibleCollectionMarksReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentCollectionMarksApiContentAnsibleCollectionMarksReadRequest) Execute() (*AnsibleCollectionVersionMarkResponse, *http.Response, error) {
	return r.ApiService.ContentAnsibleCollectionMarksReadExecute(r)
}

/*
ContentAnsibleCollectionMarksRead Inspect a collection version mark

ViewSet for looking at mark objects for CollectionVersion content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleCollectionVersionMarkHref
 @return ContentCollectionMarksApiContentAnsibleCollectionMarksReadRequest
*/
func (a *ContentCollectionMarksApiService) ContentAnsibleCollectionMarksRead(ctx context.Context, ansibleCollectionVersionMarkHref string) ContentCollectionMarksApiContentAnsibleCollectionMarksReadRequest {
	return ContentCollectionMarksApiContentAnsibleCollectionMarksReadRequest{
		ApiService: a,
		ctx: ctx,
		ansibleCollectionVersionMarkHref: ansibleCollectionVersionMarkHref,
	}
}

// Execute executes the request
//  @return AnsibleCollectionVersionMarkResponse
func (a *ContentCollectionMarksApiService) ContentAnsibleCollectionMarksReadExecute(r ContentCollectionMarksApiContentAnsibleCollectionMarksReadRequest) (*AnsibleCollectionVersionMarkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnsibleCollectionVersionMarkResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentCollectionMarksApiService.ContentAnsibleCollectionMarksRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_collection_version_mark_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_collection_version_mark_href"+"}", url.PathEscape(parameterValueToString(r.ansibleCollectionVersionMarkHref, "ansibleCollectionVersionMarkHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
