/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest/release/v3

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// RepositoriesAnsibleApiService RepositoriesAnsibleApi service
type RepositoriesAnsibleApiService service

type RepositoriesAnsibleApiRepositoriesAnsibleAnsibleCreateRequest struct {
	ctx context.Context
	ApiService *RepositoriesAnsibleApiService
	ansibleAnsibleRepository *AnsibleAnsibleRepository
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleCreateRequest) AnsibleAnsibleRepository(ansibleAnsibleRepository AnsibleAnsibleRepository) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleCreateRequest {
	r.ansibleAnsibleRepository = &ansibleAnsibleRepository
	return r
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleCreateRequest) Execute() (*AnsibleAnsibleRepositoryResponse, *http.Response, error) {
	return r.ApiService.RepositoriesAnsibleAnsibleCreateExecute(r)
}

/*
RepositoriesAnsibleAnsibleCreate Create an ansible repository

ViewSet for Ansible Repositories.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleCreateRequest
*/
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleCreate(ctx context.Context) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleCreateRequest {
	return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AnsibleAnsibleRepositoryResponse
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleCreateExecute(r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleCreateRequest) (*AnsibleAnsibleRepositoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnsibleAnsibleRepositoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesAnsibleApiService.RepositoriesAnsibleAnsibleCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/repositories/ansible/ansible/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ansibleAnsibleRepository == nil {
		return localVarReturnValue, nil, reportError("ansibleAnsibleRepository is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ansibleAnsibleRepository
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesAnsibleApiRepositoriesAnsibleAnsibleDeleteRequest struct {
	ctx context.Context
	ApiService *RepositoriesAnsibleApiService
	ansibleAnsibleRepositoryHref string
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesAnsibleAnsibleDeleteExecute(r)
}

/*
RepositoriesAnsibleAnsibleDelete Delete an ansible repository

Trigger an asynchronous delete task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleAnsibleRepositoryHref
 @return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleDeleteRequest
*/
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleDelete(ctx context.Context, ansibleAnsibleRepositoryHref string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleDeleteRequest {
	return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleDeleteRequest{
		ApiService: a,
		ctx: ctx,
		ansibleAnsibleRepositoryHref: ansibleAnsibleRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleDeleteExecute(r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesAnsibleApiService.RepositoriesAnsibleAnsibleDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_ansible_repository_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_ansible_repository_href"+"}", url.PathEscape(parameterValueToString(r.ansibleAnsibleRepositoryHref, "ansibleAnsibleRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest struct {
	ctx context.Context
	ApiService *RepositoriesAnsibleApiService
	limit *int32
	name *string
	nameContains *string
	nameIcontains *string
	nameIn *[]string
	nameStartswith *string
	offset *int32
	ordering *[]string
	pulpLabelSelect *string
	remote *string
	retainRepoVersions *int32
	retainRepoVersionsGt *int32
	retainRepoVersionsGte *int32
	retainRepoVersionsIsnull *bool
	retainRepoVersionsLt *int32
	retainRepoVersionsLte *int32
	retainRepoVersionsNe *int32
	retainRepoVersionsRange *[]int32
	fields *[]string
	excludeFields *[]string
}

// Number of results to return per page.
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) Limit(limit int32) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.limit = &limit
	return r
}

// Filter results where name matches value
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) Name(name string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) NameContains(nameContains string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) NameIcontains(nameIcontains string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name is in a comma-separated list of values
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) NameIn(nameIn []string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name starts with value
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) NameStartswith(nameStartswith string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) Offset(offset int32) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.offset = &offset
	return r
}

// Ordering
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) Ordering(ordering []string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.ordering = &ordering
	return r
}

// Filter labels by search string
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) PulpLabelSelect(pulpLabelSelect string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Foreign Key referenced by HREF
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) Remote(remote string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.remote = &remote
	return r
}

// Filter results where retain_repo_versions matches value
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) RetainRepoVersions(retainRepoVersions int32) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.retainRepoVersions = &retainRepoVersions
	return r
}

// Filter results where retain_repo_versions is greater than value
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) RetainRepoVersionsGt(retainRepoVersionsGt int32) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.retainRepoVersionsGt = &retainRepoVersionsGt
	return r
}

// Filter results where retain_repo_versions is greater than or equal to value
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) RetainRepoVersionsGte(retainRepoVersionsGte int32) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.retainRepoVersionsGte = &retainRepoVersionsGte
	return r
}

// Filter results where retain_repo_versions has a null value
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) RetainRepoVersionsIsnull(retainRepoVersionsIsnull bool) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.retainRepoVersionsIsnull = &retainRepoVersionsIsnull
	return r
}

// Filter results where retain_repo_versions is less than value
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) RetainRepoVersionsLt(retainRepoVersionsLt int32) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.retainRepoVersionsLt = &retainRepoVersionsLt
	return r
}

// Filter results where retain_repo_versions is less than or equal to value
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) RetainRepoVersionsLte(retainRepoVersionsLte int32) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.retainRepoVersionsLte = &retainRepoVersionsLte
	return r
}

// Filter results where retain_repo_versions not equal to value
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) RetainRepoVersionsNe(retainRepoVersionsNe int32) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.retainRepoVersionsNe = &retainRepoVersionsNe
	return r
}

// Filter results where retain_repo_versions is between two comma separated values
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) RetainRepoVersionsRange(retainRepoVersionsRange []int32) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.retainRepoVersionsRange = &retainRepoVersionsRange
	return r
}

// A list of fields to include in the response.
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) Fields(fields []string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) ExcludeFields(excludeFields []string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) Execute() (*PaginatedansibleAnsibleRepositoryResponseList, *http.Response, error) {
	return r.ApiService.RepositoriesAnsibleAnsibleListExecute(r)
}

/*
RepositoriesAnsibleAnsibleList List ansible repositorys

ViewSet for Ansible Repositories.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest
*/
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleList(ctx context.Context) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest {
	return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedansibleAnsibleRepositoryResponseList
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleListExecute(r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleListRequest) (*PaginatedansibleAnsibleRepositoryResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedansibleAnsibleRepositoryResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesAnsibleApiService.RepositoriesAnsibleAnsibleList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/repositories/ansible/ansible/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "csv")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "")
	}
	if r.remote != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote", r.remote, "")
	}
	if r.retainRepoVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions", r.retainRepoVersions, "")
	}
	if r.retainRepoVersionsGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__gt", r.retainRepoVersionsGt, "")
	}
	if r.retainRepoVersionsGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__gte", r.retainRepoVersionsGte, "")
	}
	if r.retainRepoVersionsIsnull != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__isnull", r.retainRepoVersionsIsnull, "")
	}
	if r.retainRepoVersionsLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__lt", r.retainRepoVersionsLt, "")
	}
	if r.retainRepoVersionsLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__lte", r.retainRepoVersionsLte, "")
	}
	if r.retainRepoVersionsNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__ne", r.retainRepoVersionsNe, "")
	}
	if r.retainRepoVersionsRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retain_repo_versions__range", r.retainRepoVersionsRange, "csv")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesAnsibleApiRepositoriesAnsibleAnsibleModifyRequest struct {
	ctx context.Context
	ApiService *RepositoriesAnsibleApiService
	ansibleAnsibleRepositoryHref string
	repositoryAddRemoveContent *RepositoryAddRemoveContent
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleModifyRequest) RepositoryAddRemoveContent(repositoryAddRemoveContent RepositoryAddRemoveContent) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleModifyRequest {
	r.repositoryAddRemoveContent = &repositoryAddRemoveContent
	return r
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleModifyRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesAnsibleAnsibleModifyExecute(r)
}

/*
RepositoriesAnsibleAnsibleModify Modify Repository Content

Trigger an asynchronous task to create a new repository version.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleAnsibleRepositoryHref
 @return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleModifyRequest
*/
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleModify(ctx context.Context, ansibleAnsibleRepositoryHref string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleModifyRequest {
	return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleModifyRequest{
		ApiService: a,
		ctx: ctx,
		ansibleAnsibleRepositoryHref: ansibleAnsibleRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleModifyExecute(r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleModifyRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesAnsibleApiService.RepositoriesAnsibleAnsibleModify")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_ansible_repository_href}modify/"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_ansible_repository_href"+"}", url.PathEscape(parameterValueToString(r.ansibleAnsibleRepositoryHref, "ansibleAnsibleRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.repositoryAddRemoveContent == nil {
		return localVarReturnValue, nil, reportError("repositoryAddRemoveContent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.repositoryAddRemoveContent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesAnsibleApiRepositoriesAnsibleAnsiblePartialUpdateRequest struct {
	ctx context.Context
	ApiService *RepositoriesAnsibleApiService
	ansibleAnsibleRepositoryHref string
	patchedansibleAnsibleRepository *PatchedansibleAnsibleRepository
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsiblePartialUpdateRequest) PatchedansibleAnsibleRepository(patchedansibleAnsibleRepository PatchedansibleAnsibleRepository) RepositoriesAnsibleApiRepositoriesAnsibleAnsiblePartialUpdateRequest {
	r.patchedansibleAnsibleRepository = &patchedansibleAnsibleRepository
	return r
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsiblePartialUpdateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesAnsibleAnsiblePartialUpdateExecute(r)
}

/*
RepositoriesAnsibleAnsiblePartialUpdate Update an ansible repository

Trigger an asynchronous partial update task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleAnsibleRepositoryHref
 @return RepositoriesAnsibleApiRepositoriesAnsibleAnsiblePartialUpdateRequest
*/
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsiblePartialUpdate(ctx context.Context, ansibleAnsibleRepositoryHref string) RepositoriesAnsibleApiRepositoriesAnsibleAnsiblePartialUpdateRequest {
	return RepositoriesAnsibleApiRepositoriesAnsibleAnsiblePartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		ansibleAnsibleRepositoryHref: ansibleAnsibleRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsiblePartialUpdateExecute(r RepositoriesAnsibleApiRepositoriesAnsibleAnsiblePartialUpdateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesAnsibleApiService.RepositoriesAnsibleAnsiblePartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_ansible_repository_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_ansible_repository_href"+"}", url.PathEscape(parameterValueToString(r.ansibleAnsibleRepositoryHref, "ansibleAnsibleRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedansibleAnsibleRepository == nil {
		return localVarReturnValue, nil, reportError("patchedansibleAnsibleRepository is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedansibleAnsibleRepository
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesAnsibleApiRepositoriesAnsibleAnsibleReadRequest struct {
	ctx context.Context
	ApiService *RepositoriesAnsibleApiService
	ansibleAnsibleRepositoryHref string
	fields *[]string
	excludeFields *[]string
}

// A list of fields to include in the response.
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleReadRequest) Fields(fields []string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleReadRequest) ExcludeFields(excludeFields []string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleReadRequest) Execute() (*AnsibleAnsibleRepositoryResponse, *http.Response, error) {
	return r.ApiService.RepositoriesAnsibleAnsibleReadExecute(r)
}

/*
RepositoriesAnsibleAnsibleRead Inspect an ansible repository

ViewSet for Ansible Repositories.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleAnsibleRepositoryHref
 @return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleReadRequest
*/
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleRead(ctx context.Context, ansibleAnsibleRepositoryHref string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleReadRequest {
	return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleReadRequest{
		ApiService: a,
		ctx: ctx,
		ansibleAnsibleRepositoryHref: ansibleAnsibleRepositoryHref,
	}
}

// Execute executes the request
//  @return AnsibleAnsibleRepositoryResponse
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleReadExecute(r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleReadRequest) (*AnsibleAnsibleRepositoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnsibleAnsibleRepositoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesAnsibleApiService.RepositoriesAnsibleAnsibleRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_ansible_repository_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_ansible_repository_href"+"}", url.PathEscape(parameterValueToString(r.ansibleAnsibleRepositoryHref, "ansibleAnsibleRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesAnsibleApiRepositoriesAnsibleAnsibleRebuildMetadataRequest struct {
	ctx context.Context
	ApiService *RepositoriesAnsibleApiService
	ansibleAnsibleRepositoryHref string
	ansibleRepositoryRebuild *AnsibleRepositoryRebuild
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleRebuildMetadataRequest) AnsibleRepositoryRebuild(ansibleRepositoryRebuild AnsibleRepositoryRebuild) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleRebuildMetadataRequest {
	r.ansibleRepositoryRebuild = &ansibleRepositoryRebuild
	return r
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleRebuildMetadataRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesAnsibleAnsibleRebuildMetadataExecute(r)
}

/*
RepositoriesAnsibleAnsibleRebuildMetadata Method for RepositoriesAnsibleAnsibleRebuildMetadata

Trigger an asynchronous task to rebuild Ansible content meta.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleAnsibleRepositoryHref
 @return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleRebuildMetadataRequest
*/
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleRebuildMetadata(ctx context.Context, ansibleAnsibleRepositoryHref string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleRebuildMetadataRequest {
	return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleRebuildMetadataRequest{
		ApiService: a,
		ctx: ctx,
		ansibleAnsibleRepositoryHref: ansibleAnsibleRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleRebuildMetadataExecute(r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleRebuildMetadataRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesAnsibleApiService.RepositoriesAnsibleAnsibleRebuildMetadata")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_ansible_repository_href}rebuild_metadata/"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_ansible_repository_href"+"}", url.PathEscape(parameterValueToString(r.ansibleAnsibleRepositoryHref, "ansibleAnsibleRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ansibleRepositoryRebuild == nil {
		return localVarReturnValue, nil, reportError("ansibleRepositoryRebuild is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ansibleRepositoryRebuild
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesAnsibleApiRepositoriesAnsibleAnsibleSignRequest struct {
	ctx context.Context
	ApiService *RepositoriesAnsibleApiService
	ansibleAnsibleRepositoryHref string
	ansibleRepositorySignature *AnsibleRepositorySignature
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleSignRequest) AnsibleRepositorySignature(ansibleRepositorySignature AnsibleRepositorySignature) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleSignRequest {
	r.ansibleRepositorySignature = &ansibleRepositorySignature
	return r
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleSignRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesAnsibleAnsibleSignExecute(r)
}

/*
RepositoriesAnsibleAnsibleSign Method for RepositoriesAnsibleAnsibleSign

Trigger an asynchronous task to sign Ansible content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleAnsibleRepositoryHref
 @return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleSignRequest
*/
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleSign(ctx context.Context, ansibleAnsibleRepositoryHref string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleSignRequest {
	return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleSignRequest{
		ApiService: a,
		ctx: ctx,
		ansibleAnsibleRepositoryHref: ansibleAnsibleRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleSignExecute(r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleSignRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesAnsibleApiService.RepositoriesAnsibleAnsibleSign")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_ansible_repository_href}sign/"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_ansible_repository_href"+"}", url.PathEscape(parameterValueToString(r.ansibleAnsibleRepositoryHref, "ansibleAnsibleRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ansibleRepositorySignature == nil {
		return localVarReturnValue, nil, reportError("ansibleRepositorySignature is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ansibleRepositorySignature
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesAnsibleApiRepositoriesAnsibleAnsibleSyncRequest struct {
	ctx context.Context
	ApiService *RepositoriesAnsibleApiService
	ansibleAnsibleRepositoryHref string
	ansibleRepositorySyncURL *AnsibleRepositorySyncURL
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleSyncRequest) AnsibleRepositorySyncURL(ansibleRepositorySyncURL AnsibleRepositorySyncURL) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleSyncRequest {
	r.ansibleRepositorySyncURL = &ansibleRepositorySyncURL
	return r
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleSyncRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesAnsibleAnsibleSyncExecute(r)
}

/*
RepositoriesAnsibleAnsibleSync Method for RepositoriesAnsibleAnsibleSync

Trigger an asynchronous task to sync Ansible content.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleAnsibleRepositoryHref
 @return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleSyncRequest
*/
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleSync(ctx context.Context, ansibleAnsibleRepositoryHref string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleSyncRequest {
	return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleSyncRequest{
		ApiService: a,
		ctx: ctx,
		ansibleAnsibleRepositoryHref: ansibleAnsibleRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleSyncExecute(r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleSyncRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesAnsibleApiService.RepositoriesAnsibleAnsibleSync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_ansible_repository_href}sync/"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_ansible_repository_href"+"}", url.PathEscape(parameterValueToString(r.ansibleAnsibleRepositoryHref, "ansibleAnsibleRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ansibleRepositorySyncURL == nil {
		return localVarReturnValue, nil, reportError("ansibleRepositorySyncURL is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ansibleRepositorySyncURL
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RepositoriesAnsibleApiRepositoriesAnsibleAnsibleUpdateRequest struct {
	ctx context.Context
	ApiService *RepositoriesAnsibleApiService
	ansibleAnsibleRepositoryHref string
	ansibleAnsibleRepository *AnsibleAnsibleRepository
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleUpdateRequest) AnsibleAnsibleRepository(ansibleAnsibleRepository AnsibleAnsibleRepository) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleUpdateRequest {
	r.ansibleAnsibleRepository = &ansibleAnsibleRepository
	return r
}

func (r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleUpdateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RepositoriesAnsibleAnsibleUpdateExecute(r)
}

/*
RepositoriesAnsibleAnsibleUpdate Update an ansible repository

Trigger an asynchronous update task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleAnsibleRepositoryHref
 @return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleUpdateRequest
*/
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleUpdate(ctx context.Context, ansibleAnsibleRepositoryHref string) RepositoriesAnsibleApiRepositoriesAnsibleAnsibleUpdateRequest {
	return RepositoriesAnsibleApiRepositoriesAnsibleAnsibleUpdateRequest{
		ApiService: a,
		ctx: ctx,
		ansibleAnsibleRepositoryHref: ansibleAnsibleRepositoryHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RepositoriesAnsibleApiService) RepositoriesAnsibleAnsibleUpdateExecute(r RepositoriesAnsibleApiRepositoriesAnsibleAnsibleUpdateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RepositoriesAnsibleApiService.RepositoriesAnsibleAnsibleUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_ansible_repository_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_ansible_repository_href"+"}", url.PathEscape(parameterValueToString(r.ansibleAnsibleRepositoryHref, "ansibleAnsibleRepositoryHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ansibleAnsibleRepository == nil {
		return localVarReturnValue, nil, reportError("ansibleAnsibleRepository is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ansibleAnsibleRepository
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
