/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest/release/v3

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentRefsApiService ContentRefsApi service
type ContentRefsApiService service

type ContentRefsApiContentOstreeRefsListRequest struct {
	ctx context.Context
	ApiService *ContentRefsApiService
	checksum *string
	limit *int32
	name *string
	nameContains *string
	nameIcontains *string
	nameIn *[]string
	nameStartswith *string
	offset *int32
	ordering *[]string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	fields *[]string
	excludeFields *[]string
}

func (r ContentRefsApiContentOstreeRefsListRequest) Checksum(checksum string) ContentRefsApiContentOstreeRefsListRequest {
	r.checksum = &checksum
	return r
}

// Number of results to return per page.
func (r ContentRefsApiContentOstreeRefsListRequest) Limit(limit int32) ContentRefsApiContentOstreeRefsListRequest {
	r.limit = &limit
	return r
}

// Filter results where name matches value
func (r ContentRefsApiContentOstreeRefsListRequest) Name(name string) ContentRefsApiContentOstreeRefsListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r ContentRefsApiContentOstreeRefsListRequest) NameContains(nameContains string) ContentRefsApiContentOstreeRefsListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r ContentRefsApiContentOstreeRefsListRequest) NameIcontains(nameIcontains string) ContentRefsApiContentOstreeRefsListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name is in a comma-separated list of values
func (r ContentRefsApiContentOstreeRefsListRequest) NameIn(nameIn []string) ContentRefsApiContentOstreeRefsListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name starts with value
func (r ContentRefsApiContentOstreeRefsListRequest) NameStartswith(nameStartswith string) ContentRefsApiContentOstreeRefsListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r ContentRefsApiContentOstreeRefsListRequest) Offset(offset int32) ContentRefsApiContentOstreeRefsListRequest {
	r.offset = &offset
	return r
}

// Ordering
func (r ContentRefsApiContentOstreeRefsListRequest) Ordering(ordering []string) ContentRefsApiContentOstreeRefsListRequest {
	r.ordering = &ordering
	return r
}

// Repository Version referenced by HREF
func (r ContentRefsApiContentOstreeRefsListRequest) RepositoryVersion(repositoryVersion string) ContentRefsApiContentOstreeRefsListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF
func (r ContentRefsApiContentOstreeRefsListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentRefsApiContentOstreeRefsListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF
func (r ContentRefsApiContentOstreeRefsListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentRefsApiContentOstreeRefsListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// A list of fields to include in the response.
func (r ContentRefsApiContentOstreeRefsListRequest) Fields(fields []string) ContentRefsApiContentOstreeRefsListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentRefsApiContentOstreeRefsListRequest) ExcludeFields(excludeFields []string) ContentRefsApiContentOstreeRefsListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentRefsApiContentOstreeRefsListRequest) Execute() (*PaginatedostreeOstreeRefResponseList, *http.Response, error) {
	return r.ApiService.ContentOstreeRefsListExecute(r)
}

/*
ContentOstreeRefsList List ostree refs

A ViewSet class for OSTree head commits.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentRefsApiContentOstreeRefsListRequest
*/
func (a *ContentRefsApiService) ContentOstreeRefsList(ctx context.Context) ContentRefsApiContentOstreeRefsListRequest {
	return ContentRefsApiContentOstreeRefsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedostreeOstreeRefResponseList
func (a *ContentRefsApiService) ContentOstreeRefsListExecute(r ContentRefsApiContentOstreeRefsListRequest) (*PaginatedostreeOstreeRefResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedostreeOstreeRefResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentRefsApiService.ContentOstreeRefsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/ostree/refs/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.checksum != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "checksum", r.checksum, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "csv")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "csv")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentRefsApiContentOstreeRefsReadRequest struct {
	ctx context.Context
	ApiService *ContentRefsApiService
	ostreeOstreeRefHref string
	fields *[]string
	excludeFields *[]string
}

// A list of fields to include in the response.
func (r ContentRefsApiContentOstreeRefsReadRequest) Fields(fields []string) ContentRefsApiContentOstreeRefsReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentRefsApiContentOstreeRefsReadRequest) ExcludeFields(excludeFields []string) ContentRefsApiContentOstreeRefsReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentRefsApiContentOstreeRefsReadRequest) Execute() (*OstreeOstreeRefResponse, *http.Response, error) {
	return r.ApiService.ContentOstreeRefsReadExecute(r)
}

/*
ContentOstreeRefsRead Inspect an ostree ref

A ViewSet class for OSTree head commits.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ostreeOstreeRefHref
 @return ContentRefsApiContentOstreeRefsReadRequest
*/
func (a *ContentRefsApiService) ContentOstreeRefsRead(ctx context.Context, ostreeOstreeRefHref string) ContentRefsApiContentOstreeRefsReadRequest {
	return ContentRefsApiContentOstreeRefsReadRequest{
		ApiService: a,
		ctx: ctx,
		ostreeOstreeRefHref: ostreeOstreeRefHref,
	}
}

// Execute executes the request
//  @return OstreeOstreeRefResponse
func (a *ContentRefsApiService) ContentOstreeRefsReadExecute(r ContentRefsApiContentOstreeRefsReadRequest) (*OstreeOstreeRefResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OstreeOstreeRefResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentRefsApiService.ContentOstreeRefsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ostree_ostree_ref_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ostree_ostree_ref_href"+"}", url.PathEscape(parameterValueToString(r.ostreeOstreeRefHref, "ostreeOstreeRefHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
