/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package zest

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ContentPackageReleaseComponentsApiService ContentPackageReleaseComponentsApi service
type ContentPackageReleaseComponentsApiService service

type ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsCreateRequest struct {
	ctx context.Context
	ApiService *ContentPackageReleaseComponentsApiService
	debPackageReleaseComponent *DebPackageReleaseComponent
}

func (r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsCreateRequest) DebPackageReleaseComponent(debPackageReleaseComponent DebPackageReleaseComponent) ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsCreateRequest {
	r.debPackageReleaseComponent = &debPackageReleaseComponent
	return r
}

func (r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsCreateRequest) Execute() (*DebPackageReleaseComponentResponse, *http.Response, error) {
	return r.ApiService.ContentDebPackageReleaseComponentsCreateExecute(r)
}

/*
ContentDebPackageReleaseComponentsCreate Create a package release component

A PackageReleaseComponent associates a Package with a ReleaseComponent.

Associated artifacts: None; contains only metadata.

This simply stores the information which packages are part of which components.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsCreateRequest
*/
func (a *ContentPackageReleaseComponentsApiService) ContentDebPackageReleaseComponentsCreate(ctx context.Context) ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsCreateRequest {
	return ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DebPackageReleaseComponentResponse
func (a *ContentPackageReleaseComponentsApiService) ContentDebPackageReleaseComponentsCreateExecute(r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsCreateRequest) (*DebPackageReleaseComponentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebPackageReleaseComponentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentPackageReleaseComponentsApiService.ContentDebPackageReleaseComponentsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/package_release_components/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.debPackageReleaseComponent == nil {
		return localVarReturnValue, nil, reportError("debPackageReleaseComponent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.debPackageReleaseComponent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest struct {
	ctx context.Context
	ApiService *ContentPackageReleaseComponentsApiService
	limit *int32
	offset *int32
	ordering *[]string
	package_ *string
	releaseComponent *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	fields *[]string
	excludeFields *[]string
}

// Number of results to return per page.
func (r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest) Limit(limit int32) ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest) Offset(offset int32) ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest {
	r.offset = &offset
	return r
}

// Ordering
func (r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest) Ordering(ordering []string) ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest {
	r.ordering = &ordering
	return r
}

// Filter results where package matches value
func (r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest) Package_(package_ string) ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest {
	r.package_ = &package_
	return r
}

// Filter results where release_component matches value
func (r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest) ReleaseComponent(releaseComponent string) ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest {
	r.releaseComponent = &releaseComponent
	return r
}

// Repository Version referenced by HREF
func (r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest) RepositoryVersion(repositoryVersion string) ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF
func (r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF
func (r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// A list of fields to include in the response.
func (r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest) Fields(fields []string) ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest) ExcludeFields(excludeFields []string) ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest) Execute() (*PaginateddebPackageReleaseComponentResponseList, *http.Response, error) {
	return r.ApiService.ContentDebPackageReleaseComponentsListExecute(r)
}

/*
ContentDebPackageReleaseComponentsList List package release components

A PackageReleaseComponent associates a Package with a ReleaseComponent.

Associated artifacts: None; contains only metadata.

This simply stores the information which packages are part of which components.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest
*/
func (a *ContentPackageReleaseComponentsApiService) ContentDebPackageReleaseComponentsList(ctx context.Context) ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest {
	return ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginateddebPackageReleaseComponentResponseList
func (a *ContentPackageReleaseComponentsApiService) ContentDebPackageReleaseComponentsListExecute(r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsListRequest) (*PaginateddebPackageReleaseComponentResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginateddebPackageReleaseComponentResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentPackageReleaseComponentsApiService.ContentDebPackageReleaseComponentsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/package_release_components/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "csv")
	}
	if r.package_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "package", r.package_, "")
	}
	if r.releaseComponent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "release_component", r.releaseComponent, "")
	}
	if r.repositoryVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version", r.repositoryVersion, "")
	}
	if r.repositoryVersionAdded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_added", r.repositoryVersionAdded, "")
	}
	if r.repositoryVersionRemoved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "repository_version_removed", r.repositoryVersionRemoved, "")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsReadRequest struct {
	ctx context.Context
	ApiService *ContentPackageReleaseComponentsApiService
	debPackageReleaseComponentHref string
	fields *[]string
	excludeFields *[]string
}

// A list of fields to include in the response.
func (r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsReadRequest) Fields(fields []string) ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsReadRequest) ExcludeFields(excludeFields []string) ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsReadRequest) Execute() (*DebPackageReleaseComponentResponse, *http.Response, error) {
	return r.ApiService.ContentDebPackageReleaseComponentsReadExecute(r)
}

/*
ContentDebPackageReleaseComponentsRead Inspect a package release component

A PackageReleaseComponent associates a Package with a ReleaseComponent.

Associated artifacts: None; contains only metadata.

This simply stores the information which packages are part of which components.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param debPackageReleaseComponentHref
 @return ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsReadRequest
*/
func (a *ContentPackageReleaseComponentsApiService) ContentDebPackageReleaseComponentsRead(ctx context.Context, debPackageReleaseComponentHref string) ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsReadRequest {
	return ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsReadRequest{
		ApiService: a,
		ctx: ctx,
		debPackageReleaseComponentHref: debPackageReleaseComponentHref,
	}
}

// Execute executes the request
//  @return DebPackageReleaseComponentResponse
func (a *ContentPackageReleaseComponentsApiService) ContentDebPackageReleaseComponentsReadExecute(r ContentPackageReleaseComponentsApiContentDebPackageReleaseComponentsReadRequest) (*DebPackageReleaseComponentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebPackageReleaseComponentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentPackageReleaseComponentsApiService.ContentDebPackageReleaseComponentsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{deb_package_release_component_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"deb_package_release_component_href"+"}", url.PathEscape(parameterValueToString(r.debPackageReleaseComponentHref, "debPackageReleaseComponentHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
