/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// RemotesRoleApiService RemotesRoleApi service
type RemotesRoleApiService service

type RemotesRoleApiRemotesAnsibleRoleCreateRequest struct {
	ctx context.Context
	ApiService *RemotesRoleApiService
	ansibleRoleRemote *AnsibleRoleRemote
}

func (r RemotesRoleApiRemotesAnsibleRoleCreateRequest) AnsibleRoleRemote(ansibleRoleRemote AnsibleRoleRemote) RemotesRoleApiRemotesAnsibleRoleCreateRequest {
	r.ansibleRoleRemote = &ansibleRoleRemote
	return r
}

func (r RemotesRoleApiRemotesAnsibleRoleCreateRequest) Execute() (*AnsibleRoleRemoteResponse, *http.Response, error) {
	return r.ApiService.RemotesAnsibleRoleCreateExecute(r)
}

/*
RemotesAnsibleRoleCreate Create a role remote

ViewSet for Role Remotes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return RemotesRoleApiRemotesAnsibleRoleCreateRequest
*/
func (a *RemotesRoleApiService) RemotesAnsibleRoleCreate(ctx context.Context) RemotesRoleApiRemotesAnsibleRoleCreateRequest {
	return RemotesRoleApiRemotesAnsibleRoleCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AnsibleRoleRemoteResponse
func (a *RemotesRoleApiService) RemotesAnsibleRoleCreateExecute(r RemotesRoleApiRemotesAnsibleRoleCreateRequest) (*AnsibleRoleRemoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnsibleRoleRemoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesRoleApiService.RemotesAnsibleRoleCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/remotes/ansible/role/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ansibleRoleRemote == nil {
		return localVarReturnValue, nil, reportError("ansibleRoleRemote is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ansibleRoleRemote
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesRoleApiRemotesAnsibleRoleDeleteRequest struct {
	ctx context.Context
	ApiService *RemotesRoleApiService
	ansibleRoleRemoteHref string
}

func (r RemotesRoleApiRemotesAnsibleRoleDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RemotesAnsibleRoleDeleteExecute(r)
}

/*
RemotesAnsibleRoleDelete Delete a role remote

Trigger an asynchronous delete task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleRoleRemoteHref
 @return RemotesRoleApiRemotesAnsibleRoleDeleteRequest
*/
func (a *RemotesRoleApiService) RemotesAnsibleRoleDelete(ctx context.Context, ansibleRoleRemoteHref string) RemotesRoleApiRemotesAnsibleRoleDeleteRequest {
	return RemotesRoleApiRemotesAnsibleRoleDeleteRequest{
		ApiService: a,
		ctx: ctx,
		ansibleRoleRemoteHref: ansibleRoleRemoteHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RemotesRoleApiService) RemotesAnsibleRoleDeleteExecute(r RemotesRoleApiRemotesAnsibleRoleDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesRoleApiService.RemotesAnsibleRoleDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_role_remote_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_role_remote_href"+"}", url.PathEscape(parameterValueToString(r.ansibleRoleRemoteHref, "ansibleRoleRemoteHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesRoleApiRemotesAnsibleRoleListRequest struct {
	ctx context.Context
	ApiService *RemotesRoleApiService
	limit *int32
	name *string
	nameContains *string
	nameIcontains *string
	nameIn *[]string
	nameStartswith *string
	offset *int32
	ordering *[]string
	pulpLabelSelect *string
	pulpLastUpdated *time.Time
	pulpLastUpdatedGt *time.Time
	pulpLastUpdatedGte *time.Time
	pulpLastUpdatedLt *time.Time
	pulpLastUpdatedLte *time.Time
	pulpLastUpdatedRange *[]time.Time
	fields *[]string
	excludeFields *[]string
}

// Number of results to return per page.
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) Limit(limit int32) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.limit = &limit
	return r
}

// Filter results where name matches value
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) Name(name string) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) NameContains(nameContains string) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) NameIcontains(nameIcontains string) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name is in a comma-separated list of values
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) NameIn(nameIn []string) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name starts with value
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) NameStartswith(nameStartswith string) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) Offset(offset int32) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.offset = &offset
	return r
}

// Ordering
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) Ordering(ordering []string) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.ordering = &ordering
	return r
}

// Filter labels by search string
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) PulpLabelSelect(pulpLabelSelect string) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.pulpLabelSelect = &pulpLabelSelect
	return r
}

// Filter results where pulp_last_updated matches value
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) PulpLastUpdated(pulpLastUpdated time.Time) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.pulpLastUpdated = &pulpLastUpdated
	return r
}

// Filter results where pulp_last_updated is greater than value
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) PulpLastUpdatedGt(pulpLastUpdatedGt time.Time) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.pulpLastUpdatedGt = &pulpLastUpdatedGt
	return r
}

// Filter results where pulp_last_updated is greater than or equal to value
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) PulpLastUpdatedGte(pulpLastUpdatedGte time.Time) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.pulpLastUpdatedGte = &pulpLastUpdatedGte
	return r
}

// Filter results where pulp_last_updated is less than value
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) PulpLastUpdatedLt(pulpLastUpdatedLt time.Time) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.pulpLastUpdatedLt = &pulpLastUpdatedLt
	return r
}

// Filter results where pulp_last_updated is less than or equal to value
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) PulpLastUpdatedLte(pulpLastUpdatedLte time.Time) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.pulpLastUpdatedLte = &pulpLastUpdatedLte
	return r
}

// Filter results where pulp_last_updated is between two comma separated values
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) PulpLastUpdatedRange(pulpLastUpdatedRange []time.Time) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.pulpLastUpdatedRange = &pulpLastUpdatedRange
	return r
}

// A list of fields to include in the response.
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) Fields(fields []string) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RemotesRoleApiRemotesAnsibleRoleListRequest) ExcludeFields(excludeFields []string) RemotesRoleApiRemotesAnsibleRoleListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RemotesRoleApiRemotesAnsibleRoleListRequest) Execute() (*PaginatedansibleRoleRemoteResponseList, *http.Response, error) {
	return r.ApiService.RemotesAnsibleRoleListExecute(r)
}

/*
RemotesAnsibleRoleList List role remotes

ViewSet for Role Remotes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return RemotesRoleApiRemotesAnsibleRoleListRequest
*/
func (a *RemotesRoleApiService) RemotesAnsibleRoleList(ctx context.Context) RemotesRoleApiRemotesAnsibleRoleListRequest {
	return RemotesRoleApiRemotesAnsibleRoleListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedansibleRoleRemoteResponseList
func (a *RemotesRoleApiService) RemotesAnsibleRoleListExecute(r RemotesRoleApiRemotesAnsibleRoleListRequest) (*PaginatedansibleRoleRemoteResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedansibleRoleRemoteResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesRoleApiService.RemotesAnsibleRoleList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/remotes/ansible/role/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "csv")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "csv")
	}
	if r.pulpLabelSelect != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_label_select", r.pulpLabelSelect, "")
	}
	if r.pulpLastUpdated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated", r.pulpLastUpdated, "")
	}
	if r.pulpLastUpdatedGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__gt", r.pulpLastUpdatedGt, "")
	}
	if r.pulpLastUpdatedGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__gte", r.pulpLastUpdatedGte, "")
	}
	if r.pulpLastUpdatedLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__lt", r.pulpLastUpdatedLt, "")
	}
	if r.pulpLastUpdatedLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__lte", r.pulpLastUpdatedLte, "")
	}
	if r.pulpLastUpdatedRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pulp_last_updated__range", r.pulpLastUpdatedRange, "csv")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesRoleApiRemotesAnsibleRolePartialUpdateRequest struct {
	ctx context.Context
	ApiService *RemotesRoleApiService
	ansibleRoleRemoteHref string
	patchedansibleRoleRemote *PatchedansibleRoleRemote
}

func (r RemotesRoleApiRemotesAnsibleRolePartialUpdateRequest) PatchedansibleRoleRemote(patchedansibleRoleRemote PatchedansibleRoleRemote) RemotesRoleApiRemotesAnsibleRolePartialUpdateRequest {
	r.patchedansibleRoleRemote = &patchedansibleRoleRemote
	return r
}

func (r RemotesRoleApiRemotesAnsibleRolePartialUpdateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RemotesAnsibleRolePartialUpdateExecute(r)
}

/*
RemotesAnsibleRolePartialUpdate Update a role remote

Trigger an asynchronous partial update task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleRoleRemoteHref
 @return RemotesRoleApiRemotesAnsibleRolePartialUpdateRequest
*/
func (a *RemotesRoleApiService) RemotesAnsibleRolePartialUpdate(ctx context.Context, ansibleRoleRemoteHref string) RemotesRoleApiRemotesAnsibleRolePartialUpdateRequest {
	return RemotesRoleApiRemotesAnsibleRolePartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		ansibleRoleRemoteHref: ansibleRoleRemoteHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RemotesRoleApiService) RemotesAnsibleRolePartialUpdateExecute(r RemotesRoleApiRemotesAnsibleRolePartialUpdateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesRoleApiService.RemotesAnsibleRolePartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_role_remote_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_role_remote_href"+"}", url.PathEscape(parameterValueToString(r.ansibleRoleRemoteHref, "ansibleRoleRemoteHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchedansibleRoleRemote == nil {
		return localVarReturnValue, nil, reportError("patchedansibleRoleRemote is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchedansibleRoleRemote
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesRoleApiRemotesAnsibleRoleReadRequest struct {
	ctx context.Context
	ApiService *RemotesRoleApiService
	ansibleRoleRemoteHref string
	fields *[]string
	excludeFields *[]string
}

// A list of fields to include in the response.
func (r RemotesRoleApiRemotesAnsibleRoleReadRequest) Fields(fields []string) RemotesRoleApiRemotesAnsibleRoleReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r RemotesRoleApiRemotesAnsibleRoleReadRequest) ExcludeFields(excludeFields []string) RemotesRoleApiRemotesAnsibleRoleReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r RemotesRoleApiRemotesAnsibleRoleReadRequest) Execute() (*AnsibleRoleRemoteResponse, *http.Response, error) {
	return r.ApiService.RemotesAnsibleRoleReadExecute(r)
}

/*
RemotesAnsibleRoleRead Inspect a role remote

ViewSet for Role Remotes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleRoleRemoteHref
 @return RemotesRoleApiRemotesAnsibleRoleReadRequest
*/
func (a *RemotesRoleApiService) RemotesAnsibleRoleRead(ctx context.Context, ansibleRoleRemoteHref string) RemotesRoleApiRemotesAnsibleRoleReadRequest {
	return RemotesRoleApiRemotesAnsibleRoleReadRequest{
		ApiService: a,
		ctx: ctx,
		ansibleRoleRemoteHref: ansibleRoleRemoteHref,
	}
}

// Execute executes the request
//  @return AnsibleRoleRemoteResponse
func (a *RemotesRoleApiService) RemotesAnsibleRoleReadExecute(r RemotesRoleApiRemotesAnsibleRoleReadRequest) (*AnsibleRoleRemoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AnsibleRoleRemoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesRoleApiService.RemotesAnsibleRoleRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_role_remote_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_role_remote_href"+"}", url.PathEscape(parameterValueToString(r.ansibleRoleRemoteHref, "ansibleRoleRemoteHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type RemotesRoleApiRemotesAnsibleRoleUpdateRequest struct {
	ctx context.Context
	ApiService *RemotesRoleApiService
	ansibleRoleRemoteHref string
	ansibleRoleRemote *AnsibleRoleRemote
}

func (r RemotesRoleApiRemotesAnsibleRoleUpdateRequest) AnsibleRoleRemote(ansibleRoleRemote AnsibleRoleRemote) RemotesRoleApiRemotesAnsibleRoleUpdateRequest {
	r.ansibleRoleRemote = &ansibleRoleRemote
	return r
}

func (r RemotesRoleApiRemotesAnsibleRoleUpdateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.RemotesAnsibleRoleUpdateExecute(r)
}

/*
RemotesAnsibleRoleUpdate Update a role remote

Trigger an asynchronous update task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param ansibleRoleRemoteHref
 @return RemotesRoleApiRemotesAnsibleRoleUpdateRequest
*/
func (a *RemotesRoleApiService) RemotesAnsibleRoleUpdate(ctx context.Context, ansibleRoleRemoteHref string) RemotesRoleApiRemotesAnsibleRoleUpdateRequest {
	return RemotesRoleApiRemotesAnsibleRoleUpdateRequest{
		ApiService: a,
		ctx: ctx,
		ansibleRoleRemoteHref: ansibleRoleRemoteHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *RemotesRoleApiService) RemotesAnsibleRoleUpdateExecute(r RemotesRoleApiRemotesAnsibleRoleUpdateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemotesRoleApiService.RemotesAnsibleRoleUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{ansible_role_remote_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"ansible_role_remote_href"+"}", url.PathEscape(parameterValueToString(r.ansibleRoleRemoteHref, "ansibleRoleRemoteHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ansibleRoleRemote == nil {
		return localVarReturnValue, nil, reportError("ansibleRoleRemote is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ansibleRoleRemote
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
