/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pulpGoBinding

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// PulpContainerNamespacesApiService PulpContainerNamespacesApi service
type PulpContainerNamespacesApiService service

type PulpContainerNamespacesApiPulpContainerNamespacesAddRoleRequest struct {
	ctx context.Context
	ApiService *PulpContainerNamespacesApiService
	containerContainerNamespaceHref string
	nestedRole *NestedRole
}

func (r PulpContainerNamespacesApiPulpContainerNamespacesAddRoleRequest) NestedRole(nestedRole NestedRole) PulpContainerNamespacesApiPulpContainerNamespacesAddRoleRequest {
	r.nestedRole = &nestedRole
	return r
}

func (r PulpContainerNamespacesApiPulpContainerNamespacesAddRoleRequest) Execute() (*NestedRoleResponse, *http.Response, error) {
	return r.ApiService.PulpContainerNamespacesAddRoleExecute(r)
}

/*
PulpContainerNamespacesAddRole Method for PulpContainerNamespacesAddRole

Add a role for this object to users/groups.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerContainerNamespaceHref
 @return PulpContainerNamespacesApiPulpContainerNamespacesAddRoleRequest
*/
func (a *PulpContainerNamespacesApiService) PulpContainerNamespacesAddRole(ctx context.Context, containerContainerNamespaceHref string) PulpContainerNamespacesApiPulpContainerNamespacesAddRoleRequest {
	return PulpContainerNamespacesApiPulpContainerNamespacesAddRoleRequest{
		ApiService: a,
		ctx: ctx,
		containerContainerNamespaceHref: containerContainerNamespaceHref,
	}
}

// Execute executes the request
//  @return NestedRoleResponse
func (a *PulpContainerNamespacesApiService) PulpContainerNamespacesAddRoleExecute(r PulpContainerNamespacesApiPulpContainerNamespacesAddRoleRequest) (*NestedRoleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NestedRoleResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpContainerNamespacesApiService.PulpContainerNamespacesAddRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_container_namespace_href}add_role/"
	localVarPath = strings.Replace(localVarPath, "{"+"container_container_namespace_href"+"}", url.PathEscape(parameterValueToString(r.containerContainerNamespaceHref, "containerContainerNamespaceHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nestedRole == nil {
		return localVarReturnValue, nil, reportError("nestedRole is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nestedRole
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpContainerNamespacesApiPulpContainerNamespacesCreateRequest struct {
	ctx context.Context
	ApiService *PulpContainerNamespacesApiService
	containerContainerNamespace *ContainerContainerNamespace
}

func (r PulpContainerNamespacesApiPulpContainerNamespacesCreateRequest) ContainerContainerNamespace(containerContainerNamespace ContainerContainerNamespace) PulpContainerNamespacesApiPulpContainerNamespacesCreateRequest {
	r.containerContainerNamespace = &containerContainerNamespace
	return r
}

func (r PulpContainerNamespacesApiPulpContainerNamespacesCreateRequest) Execute() (*ContainerContainerNamespaceResponse, *http.Response, error) {
	return r.ApiService.PulpContainerNamespacesCreateExecute(r)
}

/*
PulpContainerNamespacesCreate Create a container namespace

ViewSet for ContainerNamespaces.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PulpContainerNamespacesApiPulpContainerNamespacesCreateRequest
*/
func (a *PulpContainerNamespacesApiService) PulpContainerNamespacesCreate(ctx context.Context) PulpContainerNamespacesApiPulpContainerNamespacesCreateRequest {
	return PulpContainerNamespacesApiPulpContainerNamespacesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ContainerContainerNamespaceResponse
func (a *PulpContainerNamespacesApiService) PulpContainerNamespacesCreateExecute(r PulpContainerNamespacesApiPulpContainerNamespacesCreateRequest) (*ContainerContainerNamespaceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ContainerContainerNamespaceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpContainerNamespacesApiService.PulpContainerNamespacesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/pulp_container/namespaces/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.containerContainerNamespace == nil {
		return localVarReturnValue, nil, reportError("containerContainerNamespace is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.containerContainerNamespace
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpContainerNamespacesApiPulpContainerNamespacesDeleteRequest struct {
	ctx context.Context
	ApiService *PulpContainerNamespacesApiService
	containerContainerNamespaceHref string
}

func (r PulpContainerNamespacesApiPulpContainerNamespacesDeleteRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.PulpContainerNamespacesDeleteExecute(r)
}

/*
PulpContainerNamespacesDelete Delete a container namespace

Trigger an asynchronous delete task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerContainerNamespaceHref
 @return PulpContainerNamespacesApiPulpContainerNamespacesDeleteRequest
*/
func (a *PulpContainerNamespacesApiService) PulpContainerNamespacesDelete(ctx context.Context, containerContainerNamespaceHref string) PulpContainerNamespacesApiPulpContainerNamespacesDeleteRequest {
	return PulpContainerNamespacesApiPulpContainerNamespacesDeleteRequest{
		ApiService: a,
		ctx: ctx,
		containerContainerNamespaceHref: containerContainerNamespaceHref,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *PulpContainerNamespacesApiService) PulpContainerNamespacesDeleteExecute(r PulpContainerNamespacesApiPulpContainerNamespacesDeleteRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpContainerNamespacesApiService.PulpContainerNamespacesDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_container_namespace_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"container_container_namespace_href"+"}", url.PathEscape(parameterValueToString(r.containerContainerNamespaceHref, "containerContainerNamespaceHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpContainerNamespacesApiPulpContainerNamespacesListRequest struct {
	ctx context.Context
	ApiService *PulpContainerNamespacesApiService
	limit *int32
	name *string
	nameContains *string
	nameIcontains *string
	nameIn *[]string
	nameStartswith *string
	offset *int32
	ordering *[]string
	fields *[]string
	excludeFields *[]string
}

// Number of results to return per page.
func (r PulpContainerNamespacesApiPulpContainerNamespacesListRequest) Limit(limit int32) PulpContainerNamespacesApiPulpContainerNamespacesListRequest {
	r.limit = &limit
	return r
}

// Filter results where name matches value
func (r PulpContainerNamespacesApiPulpContainerNamespacesListRequest) Name(name string) PulpContainerNamespacesApiPulpContainerNamespacesListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r PulpContainerNamespacesApiPulpContainerNamespacesListRequest) NameContains(nameContains string) PulpContainerNamespacesApiPulpContainerNamespacesListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r PulpContainerNamespacesApiPulpContainerNamespacesListRequest) NameIcontains(nameIcontains string) PulpContainerNamespacesApiPulpContainerNamespacesListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name is in a comma-separated list of values
func (r PulpContainerNamespacesApiPulpContainerNamespacesListRequest) NameIn(nameIn []string) PulpContainerNamespacesApiPulpContainerNamespacesListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name starts with value
func (r PulpContainerNamespacesApiPulpContainerNamespacesListRequest) NameStartswith(nameStartswith string) PulpContainerNamespacesApiPulpContainerNamespacesListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r PulpContainerNamespacesApiPulpContainerNamespacesListRequest) Offset(offset int32) PulpContainerNamespacesApiPulpContainerNamespacesListRequest {
	r.offset = &offset
	return r
}

// Ordering
func (r PulpContainerNamespacesApiPulpContainerNamespacesListRequest) Ordering(ordering []string) PulpContainerNamespacesApiPulpContainerNamespacesListRequest {
	r.ordering = &ordering
	return r
}

// A list of fields to include in the response.
func (r PulpContainerNamespacesApiPulpContainerNamespacesListRequest) Fields(fields []string) PulpContainerNamespacesApiPulpContainerNamespacesListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpContainerNamespacesApiPulpContainerNamespacesListRequest) ExcludeFields(excludeFields []string) PulpContainerNamespacesApiPulpContainerNamespacesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpContainerNamespacesApiPulpContainerNamespacesListRequest) Execute() (*PaginatedcontainerContainerNamespaceResponseList, *http.Response, error) {
	return r.ApiService.PulpContainerNamespacesListExecute(r)
}

/*
PulpContainerNamespacesList List container namespaces

ViewSet for ContainerNamespaces.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PulpContainerNamespacesApiPulpContainerNamespacesListRequest
*/
func (a *PulpContainerNamespacesApiService) PulpContainerNamespacesList(ctx context.Context) PulpContainerNamespacesApiPulpContainerNamespacesListRequest {
	return PulpContainerNamespacesApiPulpContainerNamespacesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedcontainerContainerNamespaceResponseList
func (a *PulpContainerNamespacesApiService) PulpContainerNamespacesListExecute(r PulpContainerNamespacesApiPulpContainerNamespacesListRequest) (*PaginatedcontainerContainerNamespaceResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedcontainerContainerNamespaceResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpContainerNamespacesApiService.PulpContainerNamespacesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/pulp_container/namespaces/"
	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "")
	}
	if r.nameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__icontains", r.nameIcontains, "")
	}
	if r.nameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__in", r.nameIn, "csv")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "csv")
	}
	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpContainerNamespacesApiPulpContainerNamespacesListRolesRequest struct {
	ctx context.Context
	ApiService *PulpContainerNamespacesApiService
	containerContainerNamespaceHref string
	fields *[]string
	excludeFields *[]string
}

// A list of fields to include in the response.
func (r PulpContainerNamespacesApiPulpContainerNamespacesListRolesRequest) Fields(fields []string) PulpContainerNamespacesApiPulpContainerNamespacesListRolesRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpContainerNamespacesApiPulpContainerNamespacesListRolesRequest) ExcludeFields(excludeFields []string) PulpContainerNamespacesApiPulpContainerNamespacesListRolesRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpContainerNamespacesApiPulpContainerNamespacesListRolesRequest) Execute() (*ObjectRolesResponse, *http.Response, error) {
	return r.ApiService.PulpContainerNamespacesListRolesExecute(r)
}

/*
PulpContainerNamespacesListRoles Method for PulpContainerNamespacesListRoles

List roles assigned to this object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerContainerNamespaceHref
 @return PulpContainerNamespacesApiPulpContainerNamespacesListRolesRequest
*/
func (a *PulpContainerNamespacesApiService) PulpContainerNamespacesListRoles(ctx context.Context, containerContainerNamespaceHref string) PulpContainerNamespacesApiPulpContainerNamespacesListRolesRequest {
	return PulpContainerNamespacesApiPulpContainerNamespacesListRolesRequest{
		ApiService: a,
		ctx: ctx,
		containerContainerNamespaceHref: containerContainerNamespaceHref,
	}
}

// Execute executes the request
//  @return ObjectRolesResponse
func (a *PulpContainerNamespacesApiService) PulpContainerNamespacesListRolesExecute(r PulpContainerNamespacesApiPulpContainerNamespacesListRolesRequest) (*ObjectRolesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ObjectRolesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpContainerNamespacesApiService.PulpContainerNamespacesListRoles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_container_namespace_href}list_roles/"
	localVarPath = strings.Replace(localVarPath, "{"+"container_container_namespace_href"+"}", url.PathEscape(parameterValueToString(r.containerContainerNamespaceHref, "containerContainerNamespaceHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpContainerNamespacesApiPulpContainerNamespacesMyPermissionsRequest struct {
	ctx context.Context
	ApiService *PulpContainerNamespacesApiService
	containerContainerNamespaceHref string
	fields *[]string
	excludeFields *[]string
}

// A list of fields to include in the response.
func (r PulpContainerNamespacesApiPulpContainerNamespacesMyPermissionsRequest) Fields(fields []string) PulpContainerNamespacesApiPulpContainerNamespacesMyPermissionsRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpContainerNamespacesApiPulpContainerNamespacesMyPermissionsRequest) ExcludeFields(excludeFields []string) PulpContainerNamespacesApiPulpContainerNamespacesMyPermissionsRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpContainerNamespacesApiPulpContainerNamespacesMyPermissionsRequest) Execute() (*MyPermissionsResponse, *http.Response, error) {
	return r.ApiService.PulpContainerNamespacesMyPermissionsExecute(r)
}

/*
PulpContainerNamespacesMyPermissions Method for PulpContainerNamespacesMyPermissions

List permissions available to the current user on this object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerContainerNamespaceHref
 @return PulpContainerNamespacesApiPulpContainerNamespacesMyPermissionsRequest
*/
func (a *PulpContainerNamespacesApiService) PulpContainerNamespacesMyPermissions(ctx context.Context, containerContainerNamespaceHref string) PulpContainerNamespacesApiPulpContainerNamespacesMyPermissionsRequest {
	return PulpContainerNamespacesApiPulpContainerNamespacesMyPermissionsRequest{
		ApiService: a,
		ctx: ctx,
		containerContainerNamespaceHref: containerContainerNamespaceHref,
	}
}

// Execute executes the request
//  @return MyPermissionsResponse
func (a *PulpContainerNamespacesApiService) PulpContainerNamespacesMyPermissionsExecute(r PulpContainerNamespacesApiPulpContainerNamespacesMyPermissionsRequest) (*MyPermissionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MyPermissionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpContainerNamespacesApiService.PulpContainerNamespacesMyPermissions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_container_namespace_href}my_permissions/"
	localVarPath = strings.Replace(localVarPath, "{"+"container_container_namespace_href"+"}", url.PathEscape(parameterValueToString(r.containerContainerNamespaceHref, "containerContainerNamespaceHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpContainerNamespacesApiPulpContainerNamespacesReadRequest struct {
	ctx context.Context
	ApiService *PulpContainerNamespacesApiService
	containerContainerNamespaceHref string
	fields *[]string
	excludeFields *[]string
}

// A list of fields to include in the response.
func (r PulpContainerNamespacesApiPulpContainerNamespacesReadRequest) Fields(fields []string) PulpContainerNamespacesApiPulpContainerNamespacesReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r PulpContainerNamespacesApiPulpContainerNamespacesReadRequest) ExcludeFields(excludeFields []string) PulpContainerNamespacesApiPulpContainerNamespacesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r PulpContainerNamespacesApiPulpContainerNamespacesReadRequest) Execute() (*ContainerContainerNamespaceResponse, *http.Response, error) {
	return r.ApiService.PulpContainerNamespacesReadExecute(r)
}

/*
PulpContainerNamespacesRead Inspect a container namespace

ViewSet for ContainerNamespaces.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerContainerNamespaceHref
 @return PulpContainerNamespacesApiPulpContainerNamespacesReadRequest
*/
func (a *PulpContainerNamespacesApiService) PulpContainerNamespacesRead(ctx context.Context, containerContainerNamespaceHref string) PulpContainerNamespacesApiPulpContainerNamespacesReadRequest {
	return PulpContainerNamespacesApiPulpContainerNamespacesReadRequest{
		ApiService: a,
		ctx: ctx,
		containerContainerNamespaceHref: containerContainerNamespaceHref,
	}
}

// Execute executes the request
//  @return ContainerContainerNamespaceResponse
func (a *PulpContainerNamespacesApiService) PulpContainerNamespacesReadExecute(r PulpContainerNamespacesApiPulpContainerNamespacesReadRequest) (*ContainerContainerNamespaceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ContainerContainerNamespaceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpContainerNamespacesApiService.PulpContainerNamespacesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_container_namespace_href}"
	localVarPath = strings.Replace(localVarPath, "{"+"container_container_namespace_href"+"}", url.PathEscape(parameterValueToString(r.containerContainerNamespaceHref, "containerContainerNamespaceHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		t := *r.fields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "fields", t, "multi")
		}
	}
	if r.excludeFields != nil {
		t := *r.excludeFields
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "exclude_fields", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PulpContainerNamespacesApiPulpContainerNamespacesRemoveRoleRequest struct {
	ctx context.Context
	ApiService *PulpContainerNamespacesApiService
	containerContainerNamespaceHref string
	nestedRole *NestedRole
}

func (r PulpContainerNamespacesApiPulpContainerNamespacesRemoveRoleRequest) NestedRole(nestedRole NestedRole) PulpContainerNamespacesApiPulpContainerNamespacesRemoveRoleRequest {
	r.nestedRole = &nestedRole
	return r
}

func (r PulpContainerNamespacesApiPulpContainerNamespacesRemoveRoleRequest) Execute() (*NestedRoleResponse, *http.Response, error) {
	return r.ApiService.PulpContainerNamespacesRemoveRoleExecute(r)
}

/*
PulpContainerNamespacesRemoveRole Method for PulpContainerNamespacesRemoveRole

Remove a role for this object from users/groups.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param containerContainerNamespaceHref
 @return PulpContainerNamespacesApiPulpContainerNamespacesRemoveRoleRequest
*/
func (a *PulpContainerNamespacesApiService) PulpContainerNamespacesRemoveRole(ctx context.Context, containerContainerNamespaceHref string) PulpContainerNamespacesApiPulpContainerNamespacesRemoveRoleRequest {
	return PulpContainerNamespacesApiPulpContainerNamespacesRemoveRoleRequest{
		ApiService: a,
		ctx: ctx,
		containerContainerNamespaceHref: containerContainerNamespaceHref,
	}
}

// Execute executes the request
//  @return NestedRoleResponse
func (a *PulpContainerNamespacesApiService) PulpContainerNamespacesRemoveRoleExecute(r PulpContainerNamespacesApiPulpContainerNamespacesRemoveRoleRequest) (*NestedRoleResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NestedRoleResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PulpContainerNamespacesApiService.PulpContainerNamespacesRemoveRole")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{container_container_namespace_href}remove_role/"
	localVarPath = strings.Replace(localVarPath, "{"+"container_container_namespace_href"+"}", url.PathEscape(parameterValueToString(r.containerContainerNamespaceHref, "containerContainerNamespaceHref")), -1)
        localVarPath = strings.Replace(localVarPath, "/%2F", "/", -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.nestedRole == nil {
		return localVarReturnValue, nil, reportError("nestedRole is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nestedRole
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
